<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchResultMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchResult">
        <result column="result_id" property="resultId" jdbcType="DECIMAL"/>
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="mark" property="mark" jdbcType="DECIMAL"/>
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP"/>
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="plan_status" property="planStatus" jdbcType="VARCHAR"/>
        <result column="next_count_date" property="nextCountDate" jdbcType="TIMESTAMP"/>
        <result column="exception_info" property="exceptionInfo" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Plan_And_Result">
        ${xbp}.plan_id,
        ${xbp}.plan_name,
        ${xbp}.warning_code,
        ${xbr}.result_id,
        ${xbr}.plan_status,
        ${xbr}.mark,
        ${xbr}.start_date,
        ${xbr}.end_date,
        ${xbr}.next_count_date,
        ${xbr}.exception_info
    </sql>

    <sql id="custom_where">
        <if test="tenantId != null">
            and ${mt}.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and ${mt}.creation_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and ${mt}.creation_date &lt;= #{endDate}
        </if>
        <if test="datasourceId != null">
            and xbpb.datasource_id = #{datasourceId}
        </if>
        <if test="datasourceSchema != null and datasourceSchema != ''">
            and xbpb.datasource_schema = #{datasourceSchema}
        </if>
        <if test="objectName != null and objectName != ''">
            <bind name="objectName" value="'%' + objectName + '%'"/>
            and xbpb.object_name like #{objectName}
        </if>
    </sql>

    <select id="listByGroup" resultType="com.hand.hdsp.quality.api.dto.BatchResultDTO">
        SELECT xbp.plan_id,
        xbp.plan_name,
        xbr.result_id,
        CASE
        WHEN xbr.plan_status IS NULL THEN
        '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}'
        ELSE xbr.plan_status
        END plan_status,
        xbr.mark,
        xbr.start_date,
        xbr.end_date,
        xbr.exception_info
        FROM xqua_batch_plan xbp
        LEFT JOIN (
        SELECT *
        FROM xqua_batch_result
        WHERE result_id IN (SELECT MAX(result_id) FROM xqua_batch_result GROUP BY plan_id)) xbr
        ON xbr.plan_id = xbp.plan_id
        LEFT JOIN xqua_plan_group xpg ON xbp.group_id = xpg.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xbp.tenant_id = #{tenantId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xbp.plan_name like #{planName}
            </if>
        </where>
    </select>

    <select id="listResultHead" resultType="com.hand.hdsp.quality.api.dto.BatchResultDTO">
        select
        <include refid="Plan_And_Result">
            <property name="xbp" value="xbp"/>
            <property name="xbr" value="xbr"/>
        </include>
        from xqua_batch_plan xbp
        LEFT JOIN xqua_batch_result xbr
        on xbp.plan_id=xbr.plan_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="planId != null">
                and xbr.plan_id = #{planId}
            </if>
            <if test="resultId != null">
                and xbr.result_id = #{resultId}
            </if>
        </where>
    </select>

    <select id="listHistory" resultType="com.hand.hdsp.quality.api.dto.BatchResultDTO">
        select
        <include refid="Plan_And_Result">
            <property name="xbp" value="xbp"/>
            <property name="xbr" value="xbr"/>
        </include>
        ,
        xbrb.rule_count,
        xbrb.exception_rule_count
        from xqua_plan_group xpg
        left join xqua_batch_plan xbp
        on xpg.group_id=xbp.group_id
        left join xqua_batch_result xbr
        on xbp.plan_id=xbr.plan_id
        left join xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        <where>
            xbr.plan_status != '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}'
            <if test="groupId != null and groupId != 0">
                and xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xbr.tenant_id = #{tenantId}
            </if>
            <if test="planName">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xbp.plan_name like #{planName}
            </if>
            <if test="planStatus != null">
                and xbr.plan_status = #{planStatus}
            </if>
        </where>
    </select>

    <select id="selectScore" resultType="long">
        select ROUND(IFNULL(avg(xbr.mark),0),1) mark
        from xqua_batch_result xbr
        join xqua_batch_result_base xbrb on xbr.result_id=xbrb.result_id
        join xqua_batch_plan_base xbpb on xbrb.plan_base_id = xbpb.plan_base_id
        <where>
            <include refid="custom_where">
                <property name="mt" value="xbr"/>
            </include>
        </where>
    </select>

    <select id="selectRuleCount" resultType="long">
        select sum(ruleCount) ruleCount
        from (
        select count(*) ruleCount
        from xqua_batch_plan_table xbpt
        join xqua_batch_plan_base xbpb on xbpt.plan_base_id = xbpb.plan_base_id
        <where>
            <include refid="custom_where">
                <property name="mt" value="xbpt"/>
            </include>
        </where>
        union all
        select count(*) ruleCount
        from xqua_batch_plan_field xbpf
        join xqua_batch_plan_base xbpb on xbpf.plan_base_id = xbpb.plan_base_id
        <where>
            <include refid="custom_where">
                <property name="mt" value="xbpf"/>
            </include>
        </where>
        union all
        select count(*) ruleCount
        from xqua_batch_plan_rel_table xbprt
        join xqua_batch_plan_base xbpb on xbprt.plan_base_id = xbpb.plan_base_id
        <where>
            <include refid="custom_where">
                <property name="mt" value="xbprt"/>
            </include>
        </where>
        ) a
    </select>

    <select id="selectWarningCount" resultType="long">
        select count(*) exceptionRuleCount
        from xqua_batch_result_item xbri
        join xqua_batch_result_rule xbrr on xbri.result_rule_id = xbrr.result_rule_id
        join xqua_batch_result_base xbrb on xbrr.result_base_id = xbrb.result_base_id
        join xqua_batch_plan_base xbpb on xbrb.plan_base_id = xbpb.plan_base_id
        <where>
            and xbri.warning_level is not null
            <include refid="custom_where">
                <property name="mt" value="xbri"/>
            </include>
        </where>
    </select>

    <select id="listSUCCESSTypeCount" resultType="com.hand.hdsp.quality.infra.vo.CheckTypePercentageVO">
        SELECT
            xbrr.check_type,
            COUNT(*) count_sum
        FROM
            xqua_batch_result_rule xbrr
                JOIN xqua_batch_result_base xbrb ON xbrr.result_base_id = xbrb.result_base_id
                JOIN xqua_batch_plan_base xbpb ON xbrb.plan_base_id = xbpb.plan_base_id
        WHERE
            result_flag = 1
          AND NOT EXISTS (
                SELECT
                    1
                FROM
                    xqua_batch_result_rule a
                WHERE
                    a.rule_type = xbrr.rule_type
                  AND a.plan_rule_id = xbrr.plan_rule_id
                  AND a.creation_date > xbrr.creation_date
            )
        <include refid="custom_where">
            <property name="mt" value="xbrr"/>
        </include>
        GROUP BY
            xbrr.check_type
    </select>

    <select id="listAllTypeCount" resultType="com.hand.hdsp.quality.infra.vo.CheckTypePercentageVO">
        select
            a.check_type,
            COUNT(*) count_sum
        from (
        select xbpt.check_type
        from xqua_batch_plan_table xbpt
        join xqua_batch_plan_base xbpb on xbpt.plan_base_id = xbpb.plan_base_id
        <where>
            <include refid="custom_where">
                <property name="mt" value="xbpt"/>
            </include>
        </where>
        union all
        select xbpf.check_type
        from xqua_batch_plan_field xbpf
        join xqua_batch_plan_base xbpb on xbpf.plan_base_id = xbpb.plan_base_id
        <where>
            <include refid="custom_where">
                <property name="mt" value="xbpf"/>
            </include>
        </where>
        union all
        select xbprt.check_type
        from xqua_batch_plan_rel_table xbprt
        join xqua_batch_plan_base xbpb on xbprt.plan_base_id = xbpb.plan_base_id
        <where>
            <include refid="custom_where">
                <property name="mt" value="xbprt"/>
            </include>
        </where>
        ) a
        group by a.check_type
    </select>

    <select id="listRule" resultType="com.hand.hdsp.quality.infra.vo.RuleVO">
        select xr.rule_id ruleId,xr.rule_name ruleName,IFNULL(SUM(xbrb.rule_count),0) countSum
        from xqua_batch_result xbr
        inner join xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        inner join xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        inner join xqua_rule xr
        on xbrr.rule_id=xr.rule_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;= #{endDate}
            </if>
            <if test="rule != null">
                <bind name="rule" value="'%' + rule + '%'"/>
                and (xr.rule_name like #{rule} or xr.rule_code like #{rule})
            </if>
        </where>
        GROUP BY xr.rule_id,xr.rule_name
    </select>

    <select id="listErrorRule" resultType="com.hand.hdsp.quality.infra.vo.RuleVO">
        select xr.rule_id ruleId,xr.rule_name ruleName,IFNULL(SUM(xbrb.exception_rule_count),0) countSum
        from xqua_batch_result xbr
        inner join xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        inner join xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        inner join xqua_rule xr
        on xbrr.rule_id=xr.rule_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;= #{endDate}
            </if>
            <if test="rule != null">
                <bind name="rule" value="'%' + rule + '%'"/>
                and (xr.rule_name like #{rule} or xr.rule_code like #{rule})
            </if>
        </where>
        GROUP BY xr.rule_id,xr.rule_name
    </select>

    <select id="listMarkTrend" resultType="com.hand.hdsp.quality.infra.vo.MarkTrendVO">
        select date_format(xbr.end_date, '%Y-%m-%d') date,IFNULL(avg(xbr.mark),0) mark
        from xqua_batch_result xbr
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;= #{endDate}
            </if>
        </where>
        group by date_format(xbr.end_date, '%Y-%m-%d')
        order by date_format(xbr.end_date, '%Y-%m-%d') asc
    </select>

    <select id="listRuleException" resultType="com.hand.hdsp.quality.infra.vo.RuleExceptionVO">
        select date_format(xbr.end_date, '%Y-%m-%d') date,
        xbrr.rule_type ruleType,
        IFNULL(SUM(xbrb.exception_rule_count),0) exceptionRuleCount
        from xqua_batch_result xbr
        INNER JOIN xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        INNER JOIN xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;= #{endDate}
            </if>
        </where>
        group by date_format(xbr.end_date, '%Y-%m-%d'),xbrr.rule_type
        order by date_format(xbr.end_date, '%Y-%m-%d') asc
    </select>

    <select id="listWarningLevel" resultType="com.hand.hdsp.quality.infra.vo.WarningLevelVO">
        select date_format(xbr.end_date, '%Y-%m-%d') date,
        xbrr.warning_level warningLevel,
        count(xbrr.warning_level) levelCount
        from xqua_batch_result xbr
        INNER JOIN xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        INNER JOIN xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;= #{endDate}
            </if>
        </where>
        group by date_format(xbr.end_date, '%Y-%m-%d'),xbrr.warning_level
        order by date_format(xbr.end_date, '%Y-%m-%d') asc

    </select>

    <select id="errorTablePercentage" resultType="com.hand.hdsp.quality.infra.vo.ErrorTablePercentageVO">
        SELECT
            xbrb.object_name,
            COUNT(*) count_sum
        FROM
            xqua_batch_result_rule xbrr
                JOIN xqua_batch_result_base xbrb ON xbrr.result_base_id = xbrb.result_base_id
                JOIN xqua_batch_plan_base xbpb ON xbrb.plan_base_id = xbpb.plan_base_id
        WHERE
            xbrr.result_flag = 0
            <include refid="custom_where">
                <property name="mt" value="xbrr"/>
            </include>
        GROUP BY
            xbrb.object_name
    </select>

    <select id="errorTableItemPercentage" resultType="com.hand.hdsp.quality.infra.vo.ErrorTablePercentageVO">
        SELECT
        a.check_item,
        a.count_type,
        COUNT(*) count_sum
        FROM
        (
        SELECT
        DISTINCT
        xbri.plan_line_id,
        xbri.check_item,
        xbri.count_type,
        xbrr.result_rule_id
        FROM
        xqua_batch_result_item xbri
        JOIN xqua_batch_result_rule xbrr ON xbri.result_rule_id = xbrr.result_rule_id
        JOIN xqua_batch_result_base xbrb ON xbrr.result_base_id = xbrb.result_base_id
        JOIN xqua_batch_plan_base xbpb ON xbrb.plan_base_id = xbpb.plan_base_id
        WHERE
        xbri.warning_level IS NOT NULL
        AND condition_id IS NOT NULL
        <include refid="custom_where">
            <property name="mt" value="xbrr"/>
        </include>
        ) a
        GROUP BY
        a.check_item,
        a.count_type

    </select>

</mapper>
