<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanTableLineMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanTableLine">
        <result column="plan_line_id" property="planLineId" jdbcType="DECIMAL"/>
        <result column="plan_rule_id" property="planRuleId" jdbcType="DECIMAL"/>
        <result column="check_item" property="checkItem" jdbcType="VARCHAR"/>
        <result column="count_type" property="countType" jdbcType="VARCHAR"/>
        <result column="custom_sql" property="customSql" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <delete id="deleteByPlanBaseId">
        DELETE
        FROM xqua_batch_plan_table_line
        WHERE plan_line_id IN (
            select a.plan_line_id
            from (
                     SELECT xbptl.plan_line_id
                     FROM xqua_batch_plan_table_line xbptl
                              join xqua_batch_plan_table xbpt on xbptl.plan_rule_id = xbpt.plan_rule_id
                     where xbpt.plan_base_id = #{planBaseId}
                 ) a
        )
    </delete>
</mapper>
