<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanBaseMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanBase">
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR"/>
        <result column="datasource_id" property="datasourceId" jdbcType="DECIMAL"/>
        <result column="datasource_schema" property="datasourceSchema" jdbcType="VARCHAR"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" resultType="com.hand.hdsp.quality.api.dto.BatchPlanBaseDTO">
        select
        xbpb.datasource_schema,
        xbpb.table_name,
        xbpb.description,
        (select count(*)
        from xqua_batch_plan_table xbpt
        where
        xbpt.plan_base_id = #{planBaseId}
        ) as table_num,
        (select count(*)
        from xqua_batch_plan_field xbpf
        where
        xbpf.plan_base_id = #{planBaseId}
        ) as field_num,
        (select count(*)
        from xqua_batch_plan_rel_table xbprt
        where
        xbprt.plan_base_id = #{planBaseId}
        ) as rel_table_num
        from
        xqua_batch_plan_base xbpb
        where
        xbpb.tenant_id = #{tenantId}
        and xbpb.plan_base_id = #{planBaseId}
    </select>
</mapper>
