<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanFieldConMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanFieldCon">
        <result column="condition_id" property="conditionId" jdbcType="DECIMAL"/>
        <result column="plan_line_id" property="planLineId" jdbcType="DECIMAL"/>
        <result column="where_condition" property="whereCondition" jdbcType="VARCHAR"/>
        <result column="compare_way" property="compareWay" jdbcType="VARCHAR"/>
        <result column="warning_level" property="warningLevel" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectJoinItem" resultType="com.hand.hdsp.quality.infra.dataobject.BatchPlanFieldConDO"
            parameterType="com.hand.hdsp.quality.infra.dataobject.BatchPlanFieldConDO">
        SELECT xbpfc.condition_id,
               xbpfc.plan_line_id,
               xbpfc.where_condition,
               xbpfc.compare_way,
               xbpfc.warning_level,
               xbpfl.plan_rule_id,
               xbpfl.check_way,
               xbpfl.check_item,
               xbpfl.count_type,
               xbpfl.field_name,
               xbpfl.check_field_name
        FROM xqua_batch_plan_field_con xbpfc
                 join xqua_batch_plan_field_line xbpfl on xbpfc.plan_line_id = xbpfl.plan_line_id

    </select>
</mapper>
