<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanTableMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanTable">
        <result column="plan_rule_id" property="planRuleId" jdbcType="DECIMAL"/>
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR"/>
        <result column="check_type" property="checkType" jdbcType="VARCHAR"/>
        <result column="exception_block" property="exceptionBlock" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="rule_type" property="ruleType" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="list" resultType="com.hand.hdsp.quality.infra.dataobject.BatchPlanTableDO">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        select
        xbpt.rule_code,
        xbpt.rule_name,
        <choose>
            <when test="datasourceType == 'MYSQL'">
                (select GROUP_CONCAT(check_item) from xqua_batch_plan_table_line xbptl) as check_item
            </when>
            <when test='datasourceType == "ORACLE" or datasourceType == "DM"'>
                (select WM_CONCAT(check_item) from xqua_batch_plan_table_line xbptl) as check_item
            </when>
            <when test="datasourceType == 'PANWEI' or datasourceType == 'POSTGRESQL'">
                (select array_to_string(array_agg(check_item),',') from xqua_batch_plan_table_line xbptl) as check_item
            </when>
        </choose>
        from xqua_batch_plan_table xbpt
        where xbpt.tenant_id = #{tenantId}
        <if test="projectId != null">
            and xbpt.project_id = #{projectId}
        </if>
        <if test="ruleName != null and ruleName != ''">
            <bind name="ruleName" value="'%' + ruleName + '%'"/>
            and xbpt.rule_name like #{ruleName}
        </if>
    </select>

    <select id="selectDetailList" resultType="com.hand.hdsp.quality.api.dto.BatchPlanTableDTO">
        select xbpt.plan_rule_id,
               xbpt.rule_code,
               xbpt.rule_name,
               xbpt.rule_desc,
               xbpt.rule_type,
               xbpt.check_type,
               xbpt.exception_block,
               xbpt.weight,
               xbptl.check_item,
               xbptl.count_type,
               xbptl.custom_sql,
               xbptc.condition_id,
               xbptc.where_condition,
        xbptc.compare_way,
        xbptc.warning_level
        from xqua_batch_plan_table_con xbptc
        left join xqua_batch_plan_table_line xbptl on xbptc.plan_line_id = xbptl.plan_line_id
        left join xqua_batch_plan_table xbpt on xbptl.plan_rule_id = xbpt.plan_rule_id
        where xbpt.plan_base_id = #{planBaseId}
        <if test="projectId !=null">
            and xbpt.project_id=#{projectId}
        </if>
    </select>
    <select id="getPlanTable" resultType="com.hand.hdsp.quality.api.dto.BatchPlanTableDTO">
        SELECT *
        FROM xqua_batch_plan_table xbpt
                 JOIN xqua_batch_plan_base xbpb ON xbpt.plan_base_id = xbpb.plan_base_id
                 LEFT JOIN xqua_batch_plan_table_line xbptl ON xbpt.plan_rule_id = xbptl.plan_rule_id
                 LEFT JOIN xqua_batch_plan_table_con xbptc ON xbptl.plan_line_id = xbptc.plan_line_id
        WHERE xbpt.plan_base_id = #{planBaseId}
    </select>
    <select id="selectPlanTable" resultType="com.hand.hdsp.quality.api.dto.BatchPlanTableDTO">
        SELECT *
        FROM xqua_batch_plan_table xbpt
                 JOIN xqua_batch_plan_base xbpb ON xbpt.plan_base_id = xbpb.plan_base_id
                 LEFT JOIN xqua_batch_plan_table_line xbptl ON xbpt.plan_rule_id = xbptl.plan_rule_id
                 LEFT JOIN xqua_batch_plan_table_con xbptc ON xbptl.plan_line_id = xbptc.plan_line_id
        WHERE xbpt.plan_base_id = #{planBaseId}
        <if test="ruleCode != null and ruleCode != ''">
            <bind name="ruleCode" value="'%' + ruleCode + '%'"/>
            and xbpt.rule_code like #{ruleCode}
        </if>
    </select>
</mapper>
