<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanTableConMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanTableCon">
        <result column="condition_id" property="conditionId" jdbcType="DECIMAL"/>
        <result column="plan_line_id" property="planLineId" jdbcType="DECIMAL"/>
        <result column="where_condition" property="whereCondition" jdbcType="VARCHAR"/>
        <result column="compare_way" property="compareWay" jdbcType="VARCHAR"/>
        <result column="warning_level" property="warningLevel" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectJoinItem" resultType="com.hand.hdsp.quality.infra.dataobject.BatchPlanTableConDO"
            parameterType="com.hand.hdsp.quality.infra.dataobject.BatchPlanTableConDO">
        SELECT xbptc.condition_id,
               xbptc.plan_line_id,
               xbptc.where_condition,
               xbptc.compare_way,
               xbptc.warning_level,
               xbptl.plan_rule_id,
               xbptl.check_item,
               xbptl.count_type,
               xbptl.custom_sql
        FROM xqua_batch_plan_table_con xbptc
                 join xqua_batch_plan_table_line xbptl on xbptc.plan_line_id = xbptl.plan_line_id
        where xbptl.plan_rule_id = #{planRuleId}
    </select>

    <delete id="deleteByPlanBaseId">
        DELETE
        FROM xqua_batch_plan_table_con
        WHERE condition_id IN (
            select a.condition_id
            from (
                     SELECT xbptc.condition_id
                     FROM xqua_batch_plan_table_con xbptc
                              join xqua_batch_plan_table_line xbptl on xbptc.plan_line_id = xbptl.plan_line_id
                              join xqua_batch_plan_table xbpt on xbptl.plan_rule_id = xbpt.plan_rule_id
                     where xbpt.plan_base_id = #{planBaseId}
                ) a
        )
    </delete>
</mapper>
