<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchResultMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchResult">
        <result column="result_id" property="resultId" jdbcType="DECIMAL"/>
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="mark" property="mark" jdbcType="DECIMAL"/>
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP"/>
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="plan_status" property="planStatus" jdbcType="VARCHAR"/>
        <result column="next_count_date" property="nextCountDate" jdbcType="TIMESTAMP"/>
        <result column="exception_info" property="exceptionInfo" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Plan_And_Result">
        ${xbp}.plan_id,
        ${xbp}.plan_name,
        ${xbr}.result_id,
        ${xbr}.plan_status,
        ${xbr}.mark,
        ${xbr}.start_date,
        ${xbr}.end_date,
        ${xbr}.next_count_date
    </sql>

    <select id="listByGroup" resultType="com.hand.hdsp.quality.api.dto.BatchResultDTO">
        select * from
        (
        select
        xbp.plan_id,
        xbp.plan_name,
        xbr.result_id,
        xbr.plan_status,
        xbr.mark,
        xbr.start_date,
        xbr.end_date,
        xbr.next_count_date
        from xqua_batch_result xbr
        LEFT JOIN xqua_batch_plan xbp
        on xbr.plan_id=xbp.plan_id
        LEFT JOIN xqua_plan_group xpg
        on xbp.group_id=xpg.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xbr.tenant_id = #{tenantId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xbp.plan_name like #{planName}
            </if>
            <if test="planStatus != null">
                and xbr.plan_status = #{planStatus}
            </if>
        </where>
        union
        select
        xbp.plan_id,
        xbp.plan_name,
        null result_id,
        '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}' plan_status,
        null mark,
        xbp.creation_date start_date,
        null end_date,
        null next_count_date
        from xqua_batch_plan xbp
        LEFT JOIN xqua_plan_group xpg
        on xpg.group_id=xbp.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xpg.tenant_id = #{tenantId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xbp.plan_name like #{planName}
            </if>
        </where>
        ) a
        where not exists (select 1 from (
        select
        xbp.plan_id,
        xbp.plan_name,
        xbr.result_id,
        xbr.plan_status,
        xbr.mark,
        xbr.start_date,
        xbr.end_date,
        xbr.next_count_date
        from xqua_batch_result xbr
        LEFT JOIN xqua_batch_plan xbp
        on xbr.plan_id=xbp.plan_id
        LEFT JOIN xqua_plan_group xpg
        on xbp.group_id=xpg.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xbr.tenant_id = #{tenantId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xbp.plan_name like #{planName}
            </if>
            <if test="planStatus != null">
                and xbr.plan_status = #{planStatus}
            </if>
        </where>
        union
        select
        xbp.plan_id,
        xbp.plan_name,
        null result_id,
        '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}' plan_status,
        null mark,
        xbp.creation_date start_date,
        null end_date,
        null next_count_date
        from xqua_batch_plan xbp
        LEFT JOIN xqua_plan_group xpg
        on xpg.group_id=xbp.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xpg.tenant_id = #{tenantId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xbp.plan_name like #{planName}
            </if>
        </where>
        ) b where a.start_date &lt; b.start_date and a.plan_id=b.plan_id)
    </select>

    <select id="listResultHead" resultType="com.hand.hdsp.quality.api.dto.BatchResultDTO">
        select
        <include refid="Plan_And_Result">
            <property name="xbp" value="xbp"/>
            <property name="xbr" value="xbr"/>
        </include>
        from xqua_batch_plan xbp
        LEFT JOIN xqua_batch_result xbr
        on xbp.plan_id=xbr.plan_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="planId != null">
                and xbr.plan_id = #{planId}
            </if>
            <if test="resultId != null">
                and xbr.result_id = #{resultId}
            </if>
        </where>
    </select>

    <select id="listHistory" resultType="com.hand.hdsp.quality.api.dto.BatchResultDTO">
        select
        <include refid="Plan_And_Result">
            <property name="xbp" value="xbp"/>
            <property name="xbr" value="xbr"/>
        </include>,
        xbrb.rule_count,
        xbrb.exception_rule_count
        from xqua_plan_group xpg
        left join xqua_batch_plan xbp
        on xpg.group_id=xbp.group_id
        left join xqua_batch_result xbr
        on xbp.plan_id=xbr.plan_id
        left join xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        <where>
            xbr.plan_status != '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}'
            <if test="groupId != null and groupId != 0">
                and xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xbr.tenant_id = #{tenantId}
            </if>
            <if test="planName">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xbp.plan_name like #{planName}
            </if>
            <if test="planStatus != null">
                and xbr.plan_status = #{planStatus}
            </if>
        </where>
    </select>

    <select id="listResultMap" resultType="java.util.Map">
        select ROUND(IFNULL(avg(xbr.mark),0),1) mark,
        IFNULL(sum(xbrb.rule_count),0) ruleCount,
        IFNULL(sum(exception_rule_count),0) exceptionRuleCount
        from xqua_batch_result xbr
        left join xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;=  #{endDate}
            </if>
        </where>
    </select>

    <select id="listSUCCESSTypeCount" resultType="com.hand.hdsp.quality.infra.vo.CheckTypePercentageVO">
        select a.checkType,IFNULL(SUM(a.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@COMPLETENESS}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@COMPLETENESS}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@COMPLETENESS}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@COMPLETENESS}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@COMPLETENESS}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@COMPLETENESS}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) a GROUP BY a.checkType
        union
        select b.checkType,IFNULL(SUM(b.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@UNIFORMITY}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@UNIFORMITY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@UNIFORMITY}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@UNIFORMITY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@UNIFORMITY}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@UNIFORMITY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) b GROUP BY b.checkType
        union
        select c.checkType,IFNULL(SUM(c.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@ACCURACY}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@ACCURACY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@ACCURACY}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@ACCURACY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@ACCURACY}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@ACCURACY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) c GROUP BY c.checkType
        union
        select d.checkType,IFNULL(SUM(d.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@STANDARD}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@STANDARD}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@STANDARD}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@STANDARD}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@STANDARD}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbr.plan_status='${@com.hand.hdsp.quality.infra.constant.PlanStatus@SUCCESS}'
        and xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@STANDARD}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) d GROUP BY d.checkType
    </select>

    <select id="listAllTypeCount" resultType="com.hand.hdsp.quality.infra.vo.CheckTypePercentageVO">
        select a.checkType,IFNULL(SUM(a.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@COMPLETENESS}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@COMPLETENESS}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@COMPLETENESS}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@COMPLETENESS}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@COMPLETENESS}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@COMPLETENESS}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) a GROUP BY a.checkType
        union
        select b.checkType,IFNULL(SUM(b.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@UNIFORMITY}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@UNIFORMITY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@UNIFORMITY}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@UNIFORMITY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@UNIFORMITY}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@UNIFORMITY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) b GROUP BY b.checkType
        union
        select c.checkType,IFNULL(SUM(c.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@ACCURACY}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@ACCURACY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@ACCURACY}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@ACCURACY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@ACCURACY}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@ACCURACY}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) c GROUP BY c.checkType
        union
        select d.checkType,IFNULL(SUM(d.countSum),0) countSum
        FROM
        (
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@STANDARD}' checkType,
        count(1) countSum
        from xqua_batch_plan_table xbpt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpt.plan_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@TABLE}'
        and xbpt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@STANDARD}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@STANDARD}' checkType,
        count(1) countSum
        from xqua_batch_plan_field xbpf
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbpf.plan_field_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@FIELD}'
        and xbpf.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@STANDARD}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        UNION
        select '${@com.hand.hdsp.quality.infra.constant.CheckTypeZH@STANDARD}' checkType,
        count(1) countSum
        from xqua_batch_plan_rel_table xbprt
        LEFT JOIN xqua_batch_result_rule xbrr
        on xbprt.plan_rel_table_id=xbrr.rule_id
        left join xqua_batch_result_base xbrb
        on xbrr.result_base_id=xbrb.result_base_id
        LEFT JOIN xqua_batch_result xbr
        on xbrb.result_id=xbr.result_id
        where xbrr.rule_type='${@com.hand.hdsp.quality.infra.constant.RuleType@REL_TABLE}'
        and xbprt.check_type='${@com.hand.hdsp.quality.infra.constant.CheckTypeEN@STANDARD}'
        <if test="tenantId != null">
            and xbr.tenant_id = #{tenantId}
        </if>
        <if test="startDate != null and startDate != ''">
            and xbr.end_date &gt;=  #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and xbr.end_date &lt;=  #{endDate}
        </if>
        ) d GROUP BY d.checkType
    </select>

    <select id="listRule" resultType="com.hand.hdsp.quality.infra.vo.RuleVO">
        select xr.rule_id ruleId,xr.rule_name ruleName,IFNULL(SUM(xbrb.rule_count),0) countSum
        from xqua_batch_result xbr
        inner join xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        inner join xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        inner join xqua_rule xr
        on xbrr.rule_id=xr.rule_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;=  #{endDate}
            </if>
            <if test="rule != null">
                <bind name="rule" value="'%' + rule + '%'"/>
                and (xr.rule_name like #{rule} or xr.rule_code like #{rule})
            </if>
        </where>
        GROUP BY xr.rule_id,xr.rule_name
    </select>

    <select id="listErrorRule" resultType="com.hand.hdsp.quality.infra.vo.RuleVO">
        select xr.rule_id ruleId,xr.rule_name ruleName,IFNULL(SUM(xbrb.exception_rule_count),0) countSum
        from xqua_batch_result xbr
        inner join xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        inner join xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        inner join xqua_rule xr
        on xbrr.rule_id=xr.rule_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;=  #{endDate}
            </if>
            <if test="rule != null">
                <bind name="rule" value="'%' + rule + '%'"/>
                and (xr.rule_name like #{rule} or xr.rule_code like #{rule})
            </if>
        </where>
        GROUP BY xr.rule_id,xr.rule_name
    </select>

    <select id="listMarkTrend" resultType="com.hand.hdsp.quality.infra.vo.MarkTrendVO">
        select date_format(xbr.end_date, '%Y-%m-%d') date,IFNULL(avg(xbr.mark),0) mark
        from xqua_batch_result xbr
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;=  #{endDate}
            </if>
        </where>
        group by date_format(xbr.end_date, '%Y-%m-%d')
        order by date_format(xbr.end_date, '%Y-%m-%d') asc
    </select>

    <select id="listRuleException" resultType="com.hand.hdsp.quality.infra.vo.RuleExceptionVO">
        select  date_format(xbr.end_date, '%Y-%m-%d') date,
        xbrr.rule_type ruleType,
        IFNULL(SUM(xbrb.exception_rule_count),0) exceptionRuleCount
        from xqua_batch_result xbr
        INNER JOIN xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        INNER JOIN xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;=  #{endDate}
            </if>
        </where>
        group by date_format(xbr.end_date, '%Y-%m-%d'),xbrr.rule_type
        order by date_format(xbr.end_date, '%Y-%m-%d') asc
    </select>

    <select id="listWarningLevel" resultType="com.hand.hdsp.quality.infra.vo.WarningLevelVO">
        select date_format(xbr.end_date, '%Y-%m-%d') date,
        xbrr.warning_level warningLevel,
        count(xbrr.warning_level) levelCount
        from xqua_batch_result xbr
        INNER JOIN xqua_batch_result_base xbrb
        on xbr.result_id=xbrb.result_id
        INNER JOIN xqua_batch_result_rule xbrr
        on xbrb.result_base_id=xbrr.result_base_id
        <where>
            <if test="tenantId != null">
                xbr.tenant_id = #{tenantId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xbr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xbr.end_date &lt;=  #{endDate}
            </if>
        </where>
        group by date_format(xbr.end_date, '%Y-%m-%d'),xbrr.warning_level
        order by date_format(xbr.end_date, '%Y-%m-%d') asc

    </select>

</mapper>
