<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchResultItemMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchResultItem">
        <result column="result_item_id" property="resultItemId" jdbcType="DECIMAL"/>
        <result column="result_rule_id" property="resultRuleId" jdbcType="DECIMAL"/>
        <result column="plan_line_id" property="planLineId" jdbcType="DECIMAL"/>
        <result column="condition_id" property="conditionId" jdbcType="DECIMAL"/>
        <result column="check_way" property="checkWay" jdbcType="VARCHAR"/>
        <result column="check_item" property="checkItem" jdbcType="VARCHAR"/>
        <result column="count_type" property="countType" jdbcType="VARCHAR"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="check_field_name" property="checkFieldName" jdbcType="VARCHAR"/>
        <result column="where_condition" property="whereCondition" jdbcType="VARCHAR"/>
        <result column="compare_way" property="compareWay" jdbcType="VARCHAR"/>
        <result column="regular_expression" property="regularExpression" jdbcType="VARCHAR"/>
        <result column="custom_sql" property="customSql" jdbcType="VARCHAR"/>
        <result column="rel_datasource_type" property="relDatasourceType" jdbcType="VARCHAR"/>
        <result column="rel_datasource_id" property="relDatasourceId" jdbcType="DECIMAL"/>
        <result column="rel_schema" property="relSchema" jdbcType="VARCHAR"/>
        <result column="rel_table_name" property="relTableName" jdbcType="VARCHAR"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="warning_level_json" property="warningLevelJson" jdbcType="VARCHAR"/>
        <result column="actual_value" property="actualValue" jdbcType="VARCHAR"/>
        <result column="wave_rate" property="waveRate" jdbcType="VARCHAR"/>
        <result column="current_value" property="currentValue" jdbcType="VARCHAR"/>
        <result column="exception_info" property="exceptionInfo" jdbcType="VARCHAR"/>
        <result column="warning_level" property="warningLevel" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByResultId" resultType="com.hand.hdsp.quality.api.dto.BatchResultItemDTO">
        select CASE
                   WHEN xbri.warning_level IS NOT NULL THEN xbri.warning_level
                   ELSE '${@com.hand.hdsp.quality.infra.constant.PlanConstant@WARNING_LEVEL_NORMAL}'
                   END warning_level,
               xbrr.weight
        from xqua_batch_result_item xbri
                 join xqua_batch_result_rule xbrr on xbri.result_rule_id = xbrr.result_rule_id
                 join xqua_batch_result_base xbrb on xbrr.result_base_id = xbrb.result_base_id
                 join xqua_batch_result xbr on xbrb.result_id = xbr.result_id
        where xbr.result_id = #{resultId}
    </select>

    <select id="queryList" resultType="com.hand.hdsp.quality.infra.dataobject.BatchResultItemDO">
        select xbri.current_value
        from xqua_batch_result_item xbri
        join xqua_batch_result_rule xbrr on xbri.result_rule_id = xbrr.result_rule_id
        where xbri.current_value is not null
        and xbri.condition_id = #{conditionId}
        and xbrr.rule_type = #{ruleType}
        <if test="measureDate != null">
            and date_format(xbri.creation_date, '%Y%m%d') = date_format(#{measureDate}, '%Y%m%d')
        </if>
        <if test="measureDateFrom != null">
            and date_format(xbri.creation_date, '%Y%m%d') &gt;= date_format(#{measureDateFrom}, '%Y%m%d')
            and date_format(xbri.creation_date, '%Y%m%d') &lt;= date_format(date_sub(curdate(),interval 1 day), '%Y%m%d')
        </if>
        order by xbri.creation_date desc
    </select>

    <select id="selectWaringLevelByResultId" resultType="string">
        select distinct xbri.warning_level
        from xqua_batch_result_item xbri
                 join xqua_batch_result_rule xbrr on xbri.result_rule_id = xbrr.result_rule_id
                 join xqua_batch_result_base xbrb on xbrr.result_base_id = xbrb.result_base_id
                 join xqua_batch_result xbr on xbrb.result_id = xbr.result_id
        where xbri.warning_level is not null
          and xbr.result_id = #{resultId}
    </select>

    <select id="listRuleError" resultType="com.hand.hdsp.quality.api.dto.BatchResultItemDTO">
        select xbri.result_item_id,
               xbri.result_rule_id,
               xbri.plan_line_id,
               xbri.condition_id,
               xbri.check_way,
               xbri.check_item,
               xbri.count_type,
               xbri.field_name,
               xbri.check_field_name,
               xbri.where_condition,
               xbri.compare_way,
               xbri.regular_expression,
               xbri.lov_code,
               xbri.custom_sql,
               xbri.rel_datasource_type,
               xbri.rel_datasource_id,
               xbri.rel_schema,
               xbri.rel_table_name,
               xbri.relationship,
               xbri.warning_level_json,
               xbri.actual_value,
               xbri.wave_rate,
               xbri.current_value,
               xbri.exception_info,
               xbri.warning_level,
               xbri.tenant_id,
               xbrr.rule_type,
               xbrr.rule_code,
               xbrr.rule_name,
               xbrr.rule_desc,
               xbrr.check_type,
               xbrr.weight
        from xqua_batch_result_item xbri
                 join xqua_batch_result_rule xbrr on xbri.result_rule_id = xbrr.result_rule_id
                 join xqua_batch_result_base xbrb on xbrr.result_base_id = xbrb.result_base_id
                 join xqua_batch_result xbr on xbrb.result_id = xbr.result_id
        <where>
            <if test="resultId != null">
                and xbr.result_id = #{resultId}
            </if>
            <if test="resultBaseId != null">
                and xbrb.result_base_id = #{resultBaseId}
            </if>
            <if test="tenantId != null">
                and xbri.tenant_id = #{tenantId}
            </if>
            <if test="ruleType != null and ruleType != ''">
                and xbrr.rule_type = #{ruleType}
            </if>
            <if test="ruleName != null and ruleName != ''">
                <bind name="ruleName" value="'%' + ruleName + '%'"/>
                and xbrr.rule_name like #{ruleName}
            </if>
        </where>
    </select>

    <select id="selectWaringLevel" resultType="com.hand.hdsp.quality.infra.vo.ResultWaringVO">
        select
        xbri.warning_level warningLevel,
        count(xbri.warning_level) countSum
        from xqua_batch_result_item xbri
        join xqua_batch_result_rule xbrr on xbri.result_rule_id = xbrr.result_rule_id
        <where>
            xbri.warning_level is not null
            <if test="tenantId != null ">
                and xbri.tenant_id = #{tenantId}
            </if>
            <if test="resultBaseId != null ">
                and xbrr.result_base_id = #{resultBaseId}
            </if>
        </where>
        GROUP BY xbri.warning_level
    </select>
</mapper>
