<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanFieldMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanField">
        <result column="plan_field_id" property="planFieldId" jdbcType="DECIMAL"/>
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="field_desc" property="fieldDesc" jdbcType="VARCHAR"/>
        <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR"/>
        <result column="check_type" property="checkType" jdbcType="VARCHAR"/>
        <result column="rule_type" property="ruleType" jdbcType="VARCHAR"/>
        <result column="exception_block" property="exceptionBlock" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="list" resultType="com.hand.hdsp.quality.api.dto.BatchPlanFieldDTO">
        select
        plan_base_id,
        field_name,
        field_desc
        from
        xqua_batch_plan_field
        <where>
            <if test="fieldName != null">
                <bind name="fieldName" value="'%' + fieldName + '%'"/>
                field_name like #{fieldName}
            </if>
        </where>
        GROUP BY
	    plan_base_id,
	    field_name,
	    field_desc
    </select>
</mapper>
