<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanBaseMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanBase">
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="plan_base_code" property="planBaseCode" jdbcType="VARCHAR"/>
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR"/>
        <result column="datasource_id" property="datasourceId" jdbcType="DECIMAL"/>
        <result column="datasource_schema" property="datasourceSchema" jdbcType="VARCHAR"/>
        <result column="sql_type" property="sqlType" jdbcType="VARCHAR"/>
        <result column="object_name" property="objectName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="increment_strategy" property="incrementStrategy" jdbcType="VARCHAR"/>
        <result column="increment_column" property="incrementColumn" jdbcType="VARCHAR"/>
        <result column="where_condition" property="whereCondition" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="list" resultType="com.hand.hdsp.quality.api.dto.BatchPlanBaseDTO">
        select
        xbpb.datasource_schema,
        xbpb.object_name,
        xbpb.description,
        (case when t_table_num.table_num is null then 0 else t_table_num.table_num end) table_num,
        (case when t_field_num.field_num is null then 0 else t_field_num.field_num end) field_num,
        (case when t_rel_table_num.rel_table_num is null then 0 else t_rel_table_num.rel_table_num end) rel_table_num,
        xbpb.plan_base_id,
        xbpb.plan_base_code,
        xbpb.plan_id,
        xbpb.datasource_type,
        xbpb.datasource_id,
        xbpb.tenant_id,
        xbpb.sql_type
        from
        xqua_batch_plan_base xbpb
            LEFT JOIN (
                SELECT
                xbpt.plan_base_id,
                count(*) table_num
                FROM
                xqua_batch_plan_table xbpt
                GROUP BY
                xbpt.plan_base_id
            ) t_table_num ON t_table_num.plan_base_id = xbpb.plan_base_id
            LEFT JOIN (
                SELECT
                xbpf.plan_base_id,
                count(*) field_num
                FROM
                xqua_batch_plan_field xbpf
                GROUP BY
                xbpf.plan_base_id
            ) t_field_num ON t_field_num.plan_base_id = xbpb.plan_base_id
            LEFT JOIN (
                SELECT
                xbprt.plan_base_id,
                count(*) rel_table_num
                FROM
                xqua_batch_plan_rel_table xbprt
                GROUP BY
                xbprt.plan_base_id
            ) t_rel_table_num ON t_rel_table_num.plan_base_id = xbpb.plan_base_id
        where
        xbpb.tenant_id = #{tenantId}
        <if test="projectId !=null">
            and xbpb.project_id=#{projectId}
        </if>
        <if test="planId != null">
            and xbpb.plan_id = #{planId}
        </if>
        <if test="tableNum != null">
            and (case when t_table_num.table_num is null then 0 else t_table_num.table_num end) = #{tableNum}
        </if>
        <if test="fieldNum != null">
            and (case when t_field_num.field_num is null then 0 else t_field_num.field_num end) = #{fieldNum}
        </if>
        <if test="relTableNum != null">
            and (case when t_rel_table_num.rel_table_num is null then 0 else t_rel_table_num.rel_table_num end) = #{relTableNum}
        </if>
        <if test="datasourceSchema != null">
            <bind name="datasourceSchema" value="'%' + datasourceSchema + '%'"/>
            and xbpb.datasource_schema like #{datasourceSchema}
        </if>
        <if test="objectName != null">
            <bind name="objectName" value="'%' + objectName + '%'"/>
            and xbpb.object_name like #{objectName}
        </if>
        <if test="description != null">
            <bind name="description" value="'%' + description + '%'"/>
            and xbpb.description like #{description}
        </if>
        order by
        xbpb.plan_base_id desc
    </select>
    <select id="detail" resultType="com.hand.hdsp.quality.api.dto.BatchPlanBaseDTO">
        select xbpb.plan_base_id,
               xbpb.plan_base_code,
               xbpb.plan_id,
               xbpb.datasource_type,
               xbpb.datasource_id,
               xbpb.datasource_code,
               xbpb.datasource_schema,
               xbpb.sql_type,
               xbpb.object_name,
               xbpb.description,
               xbpb.increment_strategy,
               xbpb.increment_column,
               xbpb.where_condition,
               xbpb.tenant_id,
               xbpb.object_version_number,
               xbpb.creation_date,
               xbpb.created_by,
               xbpb.last_updated_by,
               xbpb.last_update_date,
               xbp.plan_name
        from xqua_batch_plan_base xbpb
                 left join
             xqua_batch_plan xbp
             on xbpb.plan_id = xbp.plan_id
        where xbpb.plan_base_id = #{planBaseId}
    </select>
</mapper>
