<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.BatchPlanFieldMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.BatchPlanField">
        <result column="plan_rule_id" property="planRuleId" jdbcType="DECIMAL"/>
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR"/>
        <result column="check_type" property="checkType" jdbcType="VARCHAR"/>
        <result column="exception_block" property="exceptionBlock" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="auto_build_flag" property="autoBuildFlag" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="baseColumn">
        ${std}.plan_rule_id,
        ${std}.plan_base_id,
        ${std}.rule_code,
        ${std}.rule_name,
        ${std}.rule_desc,
        ${std}.check_type,
        ${std}.exception_block,
        ${std}.weight,
        ${std}.auto_build_flag
    </sql>

    <select id="selectList" resultType="com.hand.hdsp.quality.api.dto.BatchPlanFieldDTO">
        select
        <include refid="baseColumn">
            <property name="std" value="xbpf"/>
        </include>,
        xbpfl.field_name
        from
        xqua_batch_plan_field xbpf
        join xqua_batch_plan_base xbpb on xbpf.plan_base_id=xbpb.plan_base_id
        join xqua_batch_plan_field_line xbpfl on xbpf.plan_rule_id = xbpfl.plan_rule_id
        <where>
            xbpfl.field_name is not null
            <if test="fieldName != null">
                <bind name="fieldName" value="'%' + fieldName + '%'"/>
                and field_name like #{fieldName}
            </if>
            <if test="planBaseId != null">
                and xbpf.plan_base_id = #{planBaseId}
            </if>
            <if test="projectId != null">
                <!--项目共享-->
                AND (xbpf.project_id= #{projectId} or xbpf.project_id in (select share_from_project_id
                from xqua_plan_share xps
                where
                xps.share_object_id=xbpb.plan_id and xps.share_object_type='PLAN' and
                xps.share_to_project_id =#{projectId}))
            </if>
        </where>

    </select>
    <select id="list" resultType="com.hand.hdsp.quality.domain.entity.BatchPlanField">
        select
        *
        from
        xqua_batch_plan_field
        <where>
            1 = 1
            <if test="fieldName != null">
                and field_name = #{fieldName}
            </if>
            <if test="planBaseId != null">
                and plan_base_id = #{planBaseId}
            </if>
            <if test="ruleName != null">
                <bind name="ruleName" value="'%' + ruleName + '%'"/>
                and rule_name like #{ruleName}
            </if>
            <if test="tenantId != null">
                and tenant_id in(0,#{tenantId})
            </if>
        </where>
    </select>

    <select id="selectDetailList" resultType="com.hand.hdsp.quality.api.dto.BatchPlanFieldDTO">
        select xbpf.plan_rule_id,
               xbpf.rule_code,
               xbpf.rule_name,
               xbpf.rule_desc,
               xbpf.check_type,
               xbpf.exception_block,
               xbpf.weight,
               xbptl.check_way,
               xbptl.check_item,
               xbptl.count_type,
               xbptl.field_name,
               xbptl.check_field_name,
               xbptl.regular_expression,
               xbpfc.condition_id,
               xbpfc.where_condition,
        xbpfc.compare_way,
        xbpfc.warning_level
        from xqua_batch_plan_field_con xbpfc
        left join xqua_batch_plan_field_line xbptl on xbpfc.plan_line_id = xbptl.plan_line_id
        left join xqua_batch_plan_field xbpf on xbptl.plan_rule_id = xbpf.plan_rule_id
        where xbpf.plan_base_id = #{planBaseId}
        <if test="projectId !=null">
            and xbpfc.project_id=#{projectId}
        </if>
    </select>
    <select id="getPlanField" resultType="com.hand.hdsp.quality.api.dto.BatchPlanFieldDTO">
        SELECT *
        FROM xqua_batch_plan_field xbpf
                 join xqua_batch_plan_base xbpb on xbpf.plan_base_id = xbpb.plan_base_id
                 LEFT JOIN xqua_batch_plan_field_line xbpfl ON xbpf.plan_rule_id = xbpfl.plan_rule_id
                 LEFT JOIN xqua_batch_plan_field_con xbpfc ON xbpfl.plan_line_id = xbpfc.plan_line_id
        WHERE xbpf.plan_base_id = #{planBaseId}
    </select>
</mapper>
