<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xdsp.quality.infra.mapper.BatchPlanRelTableMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.xdsp.quality.domain.entity.BatchPlanRelTable">
        <result column="plan_rule_id" property="planRuleId" jdbcType="DECIMAL"/>
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR"/>
        <result column="check_type" property="checkType" jdbcType="VARCHAR"/>
        <result column="exception_block" property="exceptionBlock" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="check_item" property="checkItem" jdbcType="VARCHAR"/>
        <result column="rel_datasource_type" property="relDatasourceType" jdbcType="VARCHAR"/>
        <result column="rel_datasource_id" property="relDatasourceId" jdbcType="DECIMAL"/>
        <result column="rel_schema" property="relSchema" jdbcType="VARCHAR"/>
        <result column="rel_table_name" property="relTableName" jdbcType="VARCHAR"/>
        <result column="where_condition" property="whereCondition" jdbcType="VARCHAR"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="tableRelCheck" property="tableRelCheck" jdbcType="VARCHAR"/>
        <result column="warning_level" property="warningLevel" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>
    <select id="selectDatasourceIdAndType" resultType="org.xdsp.quality.api.dto.BatchPlanRelTableDTO">
        SELECT datasource_id relDatasourceId,
               db_type       relDatasourceType
        FROM hpfm_datasource
        WHERE datasource_code = #{batchPlanRelTableDTO.datasourceCode}
          AND tenant_id = #{batchPlanRelTableDTO.tenantId}
    </select>
    <select id="getRelTable" resultType="org.xdsp.quality.api.dto.BatchPlanRelTableDTO">
        SELECT xbprt.*,
               hd.datasource_code relDatasourceCode
        FROM xqua_batch_plan_rel_table xbprt
                 join hpfm_datasource hd on xbprt.rel_datasource_id = hd.datasource_id
        WHERE xbprt.plan_base_id = #{planBaseId}
    </select>
    <select id="selectRelTable" resultType="org.xdsp.quality.api.dto.BatchPlanRelTableDTO">
        SELECT xbprt.*,
               hd.datasource_code relDatasourceCode
        FROM xqua_batch_plan_rel_table xbprt
                 join hpfm_datasource hd on xbprt.rel_datasource_id = hd.datasource_id
        WHERE xbprt.plan_base_id = #{planBaseId}
        <if test=" relTableName != null and relTableName != ''">
            <bind name="relTableNameLike" value="'%' + relTableName + '%'"/>
            and xbprt.rel_table_name like #{relTableNameLike}
        </if>
    </select>
</mapper>
