<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.DataStandardVersionMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.DataStandardVersion">
        <result column="version_id" property="versionId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="standard_id" property="standardId" jdbcType="DECIMAL"/>
        <result column="standard_code" property="standardCode" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
        <result column="standard_desc" property="standardDesc" jdbcType="VARCHAR"/>
        <result column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <result column="data_pattern" property="dataPattern" jdbcType="VARCHAR"/>
        <result column="length_type" property="lengthType" jdbcType="VARCHAR"/>
        <result column="data_length" property="dataLength" jdbcType="VARCHAR"/>
        <result column="value_type" property="valueType" jdbcType="VARCHAR"/>
        <result column="value_range" property="valueRange" jdbcType="VARCHAR"/>
        <result column="standard_accord" property="standardAccord" jdbcType="VARCHAR"/>
        <result column="accord_content" property="accordContent" jdbcType="VARCHAR"/>
        <result column="charge_dept_id" property="chargeDeptId" jdbcType="DECIMAL"/>
        <result column="charge_id" property="chargeId" jdbcType="DECIMAL"/>
        <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR"/>
        <result column="charge_email" property="chargeEmail" jdbcType="VARCHAR"/>
        <result column="version_number" property="versionNumber" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="baseColumn">
        ${dsv}.creation_date,
        ${dsv}.created_by,
        ${dsv}.last_update_date,
        ${dsv}.last_updated_by,
        ${dsv}.object_version_number,
        ${dsv}.version_id,
        ${dsv}.standard_id,
        ${dsv}.standard_code,
        ${dsv}.standard_name,
        ${dsv}.standard_desc,
        ${dsv}.data_type,
        ${dsv}.data_pattern,
        ${dsv}.length_type,
        ${dsv}.data_length,
        ${dsv}.value_type,
        ${dsv}.value_range,
        ${dsv}.standard_accord,
        ${dsv}.accord_content,
        ${dsv}.charge_dept_id,
        ${dsv}.charge_id,
        ${dsv}.charge_tel,
        ${dsv}.charge_email,
        ${dsv}.version_number,
        ${dsv}.tenant_id
    </sql>
    <select id="detail" resultType="com.hand.hdsp.quality.api.dto.DataStandardVersionDTO">
        SELECT
        iu.login_name lastUpdateName,
        iu2.login_name chargeName,
        hu.unit_name chargeDeptName,
        xsg.group_name,
         <include refid="baseColumn">
             <property name="dsv" value="dsv"/>
         </include>
        FROM
        xsta_data_standard_version  dsv
        left join xsta_standard_group xsg on xsg.group_id=dsv.group_id
        left join iam_user iu on dsv.last_updated_by=iu.id
        left join iam_user iu2 on dsv.charge_id=iu2.id
        left join hpfm_unit hu on hu.unit_id=dsv.charge_dept_id
        WHERE
        dsv.version_id = #{versionId}
    </select>
    <select id="list" resultType="com.hand.hdsp.quality.api.dto.DataStandardVersionDTO">
        SELECT
        iu.login_name lastUpdateName,
        iu2.login_name chargeName,
        hu.unit_name chargeDeptName,
        xsg.group_name,
        <include refid="baseColumn">
            <property name="dsv" value="dsv"/>
        </include>
        FROM
        xsta_data_standard_version  dsv
        left join xsta_standard_group xsg on xsg.group_id=dsv.group_id
        left join iam_user iu on dsv.last_updated_by=iu.id
        left join iam_user iu2 on dsv.charge_id=iu2.id
        left join hpfm_unit hu on hu.unit_id=dsv.charge_dept_id
        WHERE
        <if test="dataStandardVersionDTO.standardId!=null">
            dsv.standard_id=#{dataStandardVersionDTO.standardId}
        </if>
        <if test="dataStandardVersionDTO.versionId!=null">
            dsv.version_id = #{dataStandardVersionDTO.versionId}
        </if>
        <if test="projectId != null">
            and dsv.project_id = #{projectId}
        </if>
    </select>
</mapper>