<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.DataFieldMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.DataField">
        <result column="field_id" property="fieldId" jdbcType="DECIMAL"/>
        <result column="data_standard_id" property="dataStandardId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="field_comment" property="fieldComment" jdbcType="VARCHAR"/>
        <result column="sys_common_name" property="sysCommonName" jdbcType="VARCHAR"/>
        <result column="standard_desc" property="standardDesc" jdbcType="VARCHAR"/>
        <result column="field_type" property="fieldType" jdbcType="VARCHAR"/>
        <result column="field_length" property="fieldLength" jdbcType="VARCHAR"/>
        <result column="data_pattern" property="dataPattern" jdbcType="VARCHAR"/>
        <result column="value_type" property="valueType" jdbcType="VARCHAR"/>
        <result column="value_range" property="valueRange" jdbcType="VARCHAR"/>
        <result column="charge_dept_id" property="chargeDeptId" jdbcType="DECIMAL"/>
        <result column="charge_id" property="chargeId" jdbcType="DECIMAL"/>
        <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR"/>
        <result column="charge_email" property="chargeEmail" jdbcType="VARCHAR"/>
        <result column="standard_status" property="standardStatus" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="field_accuracy" property="fieldAccuracy" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="null_flag" property="nullFlag" jdbcType="DECIMAL"/>
        <result column="default_value" property="defaultValue" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="baseColumn">
        ${fs}
        .
        field_id
        ,
        ${fs}
        .
        group_id,
        ${fs}
        .
        field_name,
        ${fs}
        .
        field_comment,
        ${fs}
        .
        sys_common_name,
        ${fs}
        .
        standard_desc,
        ${fs}
        .
        field_type,
        ${fs}
        .
        field_length,
        ${fs}
        .
        data_pattern,
        ${fs}
        .
        value_type,
        ${fs}
        .
        value_range,
        ${fs}
        .
        charge_dept_id,
        ${fs}
        .
        charge_id,
        ${fs}
        .
        standard_status,
        ${fs}
        .
        tenant_id,
        ${fs}
        .
        field_accuracy,
        ${fs}
        .
        object_version_number,
        ${fs}
        .
        creation_date,
        ${fs}
        .
        created_by,
        ${fs}
        .
        last_updated_by,
        ${fs}
        .
        last_update_date,
        ${fs}
        .
        data_standard_id,
        ${fs}
        .
        null_flag,
        ${fs}
        .
        default_value
    </sql>

    <select id="list" resultType="com.hand.hdsp.quality.api.dto.DataFieldDTO">
        select
        iu.login_name lastUpdateName,
        iu2.login_name chargeName,
        iu2.phone chargeTel,
        iu2.email chargeEmail,
        hu.unit_name chargeDeptName,
        xsg.group_name,
        xsg.group_code,
        xsg.group_desc,
        iu.login_name lastUpdatedByName,
        iu3.login_name createdByName,
        xds.standard_name dataStandardName,
        xsa.instance_id,
        <include refid="baseColumn">
            <property name="fs" value="fs"/>
        </include>
        from xsta_field_standard fs
        left join xsta_data_standard xds on fs.data_standard_id = xds.standard_id
        left join xsta_standard_group xsg on xsg.group_id=fs.group_id
        left join iam_user iu on fs.last_updated_by=iu.id
        left join iam_user iu2 on fs.charge_id=iu2.id
        left join iam_user iu3 on fs.created_by=iu3.id
        left join hpfm_unit hu on hu.unit_id=fs.charge_dept_id
        left join xsta_standard_approval xsa on xsa.approval_id = (
            select max(xsa1.approval_id)
            from xsta_standard_approval xsa1
            where xsa1.standard_id = fs.field_id
            and xsa1.standard_type = 'FIELD'
            and fs.standard_status != 'CREATE'
        )
        <where>
            <if test="dataFieldDTO.fieldId!=null">
                fs.field_id=#{dataFieldDTO.fieldId}
            </if>
            <if test="dataFieldDTO.groupId!=null">
                and fs.group_id=#{dataFieldDTO.groupId}
            </if>
            <if test="dataFieldDTO.fieldName!=null">
                <bind name="fieldName" value="'%'+ dataFieldDTO.fieldName +'%'"/>
                and fs.field_name like #{fieldName}
            </if>
            <if test="dataFieldDTO.fieldType!=null">
                and fs.field_type = #{dataFieldDTO.fieldType}
            </if>
            <if test="dataFieldDTO.fieldComment!=null">
                <bind name="fieldComment" value="'%'+ dataFieldDTO.fieldComment +'%'"/>
                and fs.field_comment like #{fieldComment}
            </if>
            <if test="dataFieldDTO.standardDesc!=null">
                <bind name="standardDesc" value="'%'+ dataFieldDTO.standardDesc +'%'"/>
                and fs.standard_desc like #{standardDesc}
            </if>
            <if test="dataFieldDTO.sysCommonName!=null">
                <bind name="sysCommonName" value="'%'+ dataFieldDTO.sysCommonName +'%'"/>
                and fs.sys_common_name like #{sysCommonName}
            </if>
            <if test="dataFieldDTO.standardStatus!=null">
                and fs.standard_status=#{dataFieldDTO.standardStatus}
            </if>
            <if test="dataFieldDTO.chargeId!=null">
                and iu2.id=#{dataFieldDTO.chargeId}
            </if>
            <if test="dataFieldDTO.lastUpdateName!=null">
                <bind name="lastUpdateName" value="'%'+ dataFieldDTO.lastUpdateName +'%'"/>
                and iu.login_name like #{lastUpdateName}
            </if>
            <if test="dataFieldDTO.tenantId!=null">
                and fs.tenant_id=#{dataFieldDTO.tenantId}
            </if>
            <if test="dataFieldDTO.lastUpdateDateFrom !=null">
                AND fs.last_update_date &gt;= #{dataFieldDTO.lastUpdateDateFrom}
            </if>
            <if test="dataFieldDTO.lastUpdateDateTo != null">
                AND fs.last_update_date &lt;= #{dataFieldDTO.lastUpdateDateTo}
            </if>
            <if test="dataFieldDTO.projectId !=null">
                and fs.project_id=#{dataFieldDTO.projectId}
            </if>
            <if test="dataFieldDTO.checkFieldIds !=null">
                and fs.field_id not in
                <foreach collection="dataFieldDTO.checkFieldIds" item="checkFieldId" open="(" close=")" separator=",">
                    #{checkFieldId}
                </foreach>

            </if>
        </where>
        order by fs.creation_date desc
    </select>

    <select id="selectIdByChargeDeptName" resultType="java.lang.Long">
        SELECT unit_id
        FROM hpfm_unit
        WHERE unit_name = #{chargeDeptName}
          and tenant_id = #{tenantId}
    </select>

    <select id="selectIdByChargeName" resultType="java.lang.Long">
        SELECT id
        FROM iam_user
        WHERE login_name = #{chargeName}
          and organization_id in (#{tenantId}, 0)
    </select>
    <select id="selectChargeNameById" resultType="java.lang.String">
        SELECT login_name
        FROM iam_user
        WHERE id = #{chargeId}
    </select>
    <select id="selectChargeDeptNameById" resultType="java.lang.String">
        SELECT unit_name
        FROM hpfm_unit
        WHERE unit_id = #{chargeDeptId}
    </select>
    <select id="selectStandardColumn" resultType="com.hand.hdsp.quality.api.dto.TableColumnDTO">
        select xtc.*,
        xfs.field_name quoteFieldName
        from xidx_table_column xtc
        join xsta_field_standard xfs on xtc.quote_type='FIELD' and xtc.quote_id=xfs.field_id
        <where>
            <if test="customTableId !=null">
                and xtc.custom_table_id=#{customTableId}
            </if>
        </where>
    </select>
</mapper>