<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xdsp.quality.infra.mapper.DataFieldVersionMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.xdsp.quality.domain.entity.DataFieldVersion">
        <result column="version_id" property="versionId" jdbcType="DECIMAL"/>
        <result column="field_id" property="fieldId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="field_comment" property="fieldComment" jdbcType="VARCHAR"/>
        <result column="sys_common_name" property="sysCommonName" jdbcType="VARCHAR"/>
        <result column="standard_desc" property="standardDesc" jdbcType="VARCHAR"/>
        <result column="field_type" property="fieldType" jdbcType="VARCHAR"/>
        <result column="field_length" property="fieldLength" jdbcType="VARCHAR"/>
        <result column="data_pattern" property="dataPattern" jdbcType="VARCHAR"/>
        <result column="value_type" property="valueType" jdbcType="VARCHAR"/>
        <result column="value_range" property="valueRange" jdbcType="VARCHAR"/>
        <result column="charge_dept_id" property="chargeDeptId" jdbcType="DECIMAL"/>
        <result column="charge_id" property="chargeId" jdbcType="DECIMAL"/>
        <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR"/>
        <result column="charge_email" property="chargeEmail" jdbcType="VARCHAR"/>
        <result column="version_number" property="versionNumber" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="null_flag" property="nullFlag" jdbcType="DECIMAL"/>
        <result column="default_value" property="defaultValue" jdbcType="VARCHAR"/>
        <result column="data_standard_id" property="dataStandardId" jdbcType="DECIMAL"/>
        <result column="business_purpose" property="businessPurpose" jdbcType="VARCHAR"/>
        <result column="business_rules" property="businessRules" jdbcType="VARCHAR"/>
        <result column="data_example" property="dataExample" jdbcType="VARCHAR"/>
        <result column="standard_accord" property="standardAccord" jdbcType="VARCHAR"/>
        <result column="accord_content" property="accordContent" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        ${fsv}.creation_date,
        ${fsv}.created_by,
        ${fsv}.last_update_date,
        ${fsv}.last_updated_by,
        ${fsv}.object_version_number,
        ${fsv}.version_id,
        ${fsv}.field_id,
        ${fsv}.group_id,
        ${fsv}.field_name,
        ${fsv}.field_comment,
        ${fsv}.standard_desc,
        ${fsv}.field_type,
        ${fsv}.field_length,
        ${fsv}.data_pattern,
        ${fsv}.value_type,
        ${fsv}.value_range,
        ${fsv}.charge_dept_id,
        ${fsv}.charge_id,
        ${fsv}.charge_tel,
        ${fsv}.charge_email,
        ${fsv}.version_number,
        ${fsv}.tenant_id,
        ${fsv}.release_by,
        ${fsv}.release_date,
        ${fsv}.null_flag,
        ${fsv}.default_value,
        ${fsv}.sys_common_name,
        ${fsv}.data_standard_id,
        ${fsv}.business_purpose,
        ${fsv}.business_rules,
        ${fsv}.data_example,
        ${fsv}.standard_accord,
        ${fsv}.accord_content
    </sql>

    <select id="detail" resultType="org.xdsp.quality.api.dto.DataFieldVersionDTO">
        SELECT
        iu.login_name lastUpdateName,
        he.name chargeName,
        hu.unit_name chargeDeptName,
        xcg.group_name,
        xcg.group_path,
        xds.standard_name dataStandardName,
        xds.standard_code dataStandardCode,
        <include refid="baseColumn">
            <property name="fsv" value="fsv"/>
        </include>
        FROM
        xsta_field_standard_version  fsv
        left join xcor_common_group xcg on xcg.group_id=fsv.group_id
        left join xsta_data_standard xds on fsv.data_standard_id = xds.standard_id
        left join iam_user iu on fsv.last_updated_by=iu.id
        left join hpfm_employee he on fsv.charge_id=he.employee_id
        left join hpfm_unit hu on hu.unit_id=fsv.charge_dept_id
        WHERE
        fsv.version_id = #{versionId}
    </select>

    <select id="list" resultType="org.xdsp.quality.api.dto.DataFieldVersionDTO">
        SELECT
        iu.login_name lastUpdateName,
        iu2.login_name chargeName,
        iu_re.real_name releaseByName,
        hu.unit_name chargeDeptName,
--         xsg.group_name,
--         xsg.group_code,
        xcg.group_name,
        xcg.group_path,
        <include refid="baseColumn">
            <property name="fsv" value="fsv"/>
        </include>
        FROM
        xsta_field_standard_version  fsv
        left join xcor_common_group xcg on fsv.group_id=xcg.group_id
--         left join xsta_standard_group xsg on xsg.group_id=fsv.group_id
        left join iam_user iu on fsv.last_updated_by=iu.id
        left join iam_user iu2 on fsv.charge_id=iu2.id
        left join hpfm_unit hu on hu.unit_id=fsv.charge_dept_id
        left join iam_user iu_re on fsv.release_by=iu_re.id
        <where>
            <if test="dataFieldVersionDTO.fieldId!=null">
                fsv.field_id=#{dataFieldVersionDTO.fieldId}
            </if>
            <if test="dataFieldVersionDTO.versionId!=null">
               and fsv.version_id = #{dataFieldVersionDTO.versionId}
            </if>
            <if test="dataFieldVersionDTO.projectId != null">
                and fsv.project_id = #{dataFieldVersionDTO.projectId}
            </if>
        </where>
    </select>
</mapper>