<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.DataStandardMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.DataStandard">
        <result column="standard_id" property="standardId" jdbcType="DECIMAL"/>
        <result column="group_Id" property="groupId" jdbcType="DECIMAL"/>
        <result column="standard_code" property="standardCode" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
        <result column="standard_desc" property="standardDesc" jdbcType="VARCHAR"/>
        <result column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <result column="data_pattern" property="dataPattern" jdbcType="VARCHAR"/>
        <result column="length_type" property="lengthType" jdbcType="VARCHAR"/>
        <result column="data_length" property="dataLength" jdbcType="VARCHAR"/>
        <result column="value_type" property="valueType" jdbcType="VARCHAR"/>
        <result column="value_range" property="valueRange" jdbcType="VARCHAR"/>
        <result column="standard_accord" property="standardAccord" jdbcType="VARCHAR"/>
        <result column="accord_content" property="accordContent" jdbcType="VARCHAR"/>
        <result column="charge_dept_id" property="chargeDeptId" jdbcType="DECIMAL"/>
        <result column="charge_id" property="chargeId" jdbcType="DECIMAL"/>
        <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR"/>
        <result column="charge_email" property="chargeEmail" jdbcType="VARCHAR"/>
        <result column="standard_status" property="standardStatus" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumn">
          ${ds}.standard_id,
          ${ds}.group_id,
          ${ds}.standard_code,
          ${ds}.standard_name,
          ${ds}.standard_desc,
          ${ds}.data_type,
          ${ds}.data_pattern,
          ${ds}.length_type,
          ${ds}.data_length,
          ${ds}.value_type,
          ${ds}.value_range,
          ${ds}.standard_accord,
          ${ds}.accord_content,
          ${ds}.charge_dept_id,
          ${ds}.charge_id,
          ${ds}.standard_status,
          ${ds}.tenant_id,
          ${ds}.object_version_number,
          ${ds}.last_update_date
    </sql>

    <select id="list" resultType="com.hand.hdsp.quality.api.dto.DataStandardDTO">
        select
        iu.login_name lastUpdateName,
        IFNull(iu2.login_name,"") chargeName,
        iu2.phone chargeTel,
        iu2.email chargeEmail,
        hu.unit_name chargeDeptName,
        xsg.group_name,
        xsg.group_code,
        xsg.parent_group_id,
        <include refid="baseColumn">
            <property name="ds" value="ds"/>
        </include>
        from xsta_data_standard ds
        left join xsta_standard_group xsg on xsg.group_id=ds.group_id
        left join hzero_platform.iam_user iu on ds.last_updated_by=iu.id
        left join hzero_platform.iam_user iu2 on ds.charge_id=iu2.id
        left join hzero_platform.hpfm_unit hu on hu.unit_id=ds.charge_dept_id
        <where>
            <if test="dataStandardDTO.standardId!=null">
                ds.standard_id=#{dataStandardDTO.standardId}
            </if>
            <if test="dataStandardDTO.groupId!=null">
                and ds.group_id=#{dataStandardDTO.groupId}
            </if>
            <if test="dataStandardDTO.standardCode!=null">
                <bind name="standardCode" value="'%'+ dataStandardDTO.standardCode +'%'"/>
               and ds.standard_code like #{standardCode}
            </if>
            <if test="dataStandardDTO.standardName">
                <bind name="standardName" value="'%'+ dataStandardDTO.standardName +'%'"/>
                and ds.standard_name like #{standardName}
            </if>
            <if test="dataStandardDTO.standardDesc!=null">
                <bind name="standardDesc" value="'%'+ dataStandardDTO.standardDesc +'%'"/>
                and ds.standard_desc like #{standardDesc}
            </if>
            <if test="dataStandardDTO.standardStatus!=null">
                and ds.standard_status=#{dataStandardDTO.standardStatus}
            </if>
            <if test="dataStandardDTO.chargeId!=null">
                and iu2.id=#{dataStandardDTO.chargeId}
            </if>
            <if test="dataStandardDTO.lastUpdateName!=null">
                <bind name="lastUpdateName" value="'%'+ dataStandardDTO.lastUpdateName +'%'"/>
                and iu.login_name like #{lastUpdateName}
            </if>
            <if test="dataStandardDTO.tenantId!=null">
                and ds.tenant_id=#{dataStandardDTO.tenantId}
            </if>
            <if test="dataStandardDTO.lastUpdateDateFrom!=null">
                and date(ds.last_update_date)>=date(#{dataStandardDTO.lastUpdateDateFrom})
            </if>
            <if test="dataStandardDTO.lastUpdateDateTo!=null">
                and date(ds.last_update_date)&lt;=date(#{dataStandardDTO.lastUpdateDateTo})
            </if>
        </where>
        order by ds.last_update_date desc
    </select>
    <select id="selectIdByChargeDeptName" resultType="java.lang.Long">
        SELECT
            unit_id
        FROM
            hzero_platform.hpfm_unit
        WHERE
            unit_name=#{chargeDeptName}
    </select>
    <select id="selectIdByChargeName" resultType="java.lang.Long">
        SELECT
            id
        FROM
            hzero_platform.iam_user
        WHERE
            login_name=#{chargeName}
    </select>

    <select id="selectTenantIdByChargeName" resultType="java.lang.Long">
        SELECT
            organization_id
        FROM
            hzero_platform.iam_user
        WHERE
            login_name=#{chargeName}
    </select>
    <select id="selectChargeNameById" resultType="java.lang.String">
        SELECT
            login_name
        FROM
            hzero_platform.iam_user
        WHERE
            id=#{chargeId}
    </select>
    <select id="selectChargeDeptNameById" resultType="java.lang.String">
       SELECT
            unit_name
        FROM
            hzero_platform.hpfm_unit
        WHERE
            unit_id=#{chargeDeptId}
    </select>
    <select id="selectEmployeeByChargeId" resultType="java.lang.String">
        SELECT
            he.employee_num
        FROM
            hzero_platform.iam_user iu
            join hzero_platform.hpfm_employee_user heu on iu.id=heu.user_id
            join hzero_platform.`hpfm_employee` he on heu.employee_id=he.employee_id
            where iu.id=#{chargeId}
    </select>

</mapper>
