<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.ItemTemplateSqlMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.ItemTemplateSql">
        <result column="sql_id" property="sqlId" jdbcType="DECIMAL"/>
        <result column="check_item" property="checkItem" jdbcType="VARCHAR"/>
        <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR"/>
        <result column="sql_content" property="sqlContent" jdbcType="VARCHAR"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectSql" resultType="com.hand.hdsp.quality.domain.entity.ItemTemplateSql">
        <bind name="dbType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        select sql_id,
               check_item,
               datasource_type,
               sql_content,
               tag
        from xqua_item_template_sql
        where enabled_flag = 1
          and check_item = #{checkItem}
          and datasource_type in (#{datasourceType}, '_ALL')
        <if test='dbType == "ORACLE"'>
            and ROWNUM = 1
        </if>
            <if test="tag != null">
                and tag = #{tag}
            </if>
        ORDER BY datasource_type
        <if test='dbType != "ORACLE"'>
            LIMIT 1
        </if>
    </select>
</mapper>
