<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.LocMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.Loc">
        <result column="loc_id" property="locId" jdbcType="DECIMAL"/>
        <result column="loc_code" property="locCode" jdbcType="VARCHAR"/>
        <result column="loc_type_code" property="locTypeCode" jdbcType="VARCHAR"/>
        <result column="route_name" property="routeName" jdbcType="VARCHAR"/>
        <result column="loc_name" property="locName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="parent_loc_code" property="parentLocCode" jdbcType="VARCHAR"/>
        <result column="parent_tenant_id" property="parentTenantId" jdbcType="DECIMAL"/>
        <result column="custom_sql" property="customSql" jdbcType="VARCHAR"/>
        <result column="custom_url" property="customUrl" jdbcType="VARCHAR"/>
        <result column="value_field" property="valueField" jdbcType="VARCHAR"/>
        <result column="display_field" property="displayField" jdbcType="VARCHAR"/>
        <result column="must_page_flag" property="mustPageFlag" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="translation_sql" property="translationSql" jdbcType="VARCHAR"/>
        <result column="public_flag" property="publicFlag" jdbcType="DECIMAL"/>
        <result column="encrypt_field" property="encryptField" jdbcType="VARCHAR"/>
        <result column="decrypt_field" property="decryptField" jdbcType="VARCHAR"/>
        <result column="request_method" property="requestMethod" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="detail" resultType="com.hand.hdsp.quality.api.dto.LocDTO">
        select
        xl.*
        from xqua_loc xl
        left join (select * from xqua_loc_version  xlv where xlv.loc_version_id in (select max(loc_version) from xqua_loc_version group by loc_id  ) )
    </select>

    <select id="list" resultType="com.hand.hdsp.quality.api.dto.LocDTO">
        select xl.* from xqua_loc xl
        <where>
            xl.tenant_id=#{tenantId}
            <if test="queryString != null and queryString !=''">
                <bind name="locLike" value='"%" + queryString + "%"'/>
                and (xl.loc_code like #{locLike} or xl.loc_name like #{locLike} or xl.description like #{locLike} )
            </if>
        </where>
    </select>
</mapper>