<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.LocValueVersionMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.LocValueVersion">
        <result column="value_version_id" property="valueVersionId" jdbcType="DECIMAL"/>
        <result column="loc_version_id" property="locVersionId" jdbcType="DECIMAL"/>
        <result column="loc_value_id" property="locValueId" jdbcType="DECIMAL"/>
        <result column="loc_id" property="locId" jdbcType="DECIMAL"/>
        <result column="loc_code" property="locCode" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="order_seq" property="orderSeq" jdbcType="DECIMAL"/>
        <result column="parent_value" property="parentValue" jdbcType="VARCHAR"/>
        <result column="start_date_active" property="startDateActive" jdbcType="TIMESTAMP"/>
        <result column="end_date_active" property="endDateActive" jdbcType="TIMESTAMP"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getList" resultType="com.hand.hdsp.quality.api.dto.LocValueVersionDTO">
        select xlvc.* from xqua_loc_value_version xlvc
        <where>
            xlvc.loc_version_id=#{locVersionId}
            <if test="queryString != null and queryString !=''">
                <bind name="valueLike" value='"%" + queryString +"%"'/>
                and ( xlvc.value like #{valueLike} or xlvc.meaning like #{valueLike})
            </if>

            <if test="value != null and value != ''">
                <bind name="value" value='"%" + value +"%"'/>
                and  xlvc.value like #{value}
            </if>
            <if test="meaning != null and meaning != ''">
                <bind name="meaning" value='"%" + meaning +"%"'/>
                and  xlvc.meaning like #{meaning}
            </if>
            <if test="description !=null and description !=''">
                <bind name="description" value='"%" + description +"%"'/>
                and xlc.description like #{description}
            </if>
        </where>

    </select>
</mapper>