<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.LovMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.Lov">
        <result column="lov_id" property="lovId" jdbcType="DECIMAL"/>
        <result column="lov_code" property="lovCode" jdbcType="VARCHAR"/>
        <result column="lov_type_code" property="lovTypeCode" jdbcType="VARCHAR"/>
        <result column="route_name" property="routeName" jdbcType="VARCHAR"/>
        <result column="lov_name" property="lovName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="parent_lov_code" property="parentLovCode" jdbcType="VARCHAR"/>
        <result column="parent_tenant_id" property="parentTenantId" jdbcType="DECIMAL"/>
        <result column="custom_sql" property="customSql" jdbcType="VARCHAR"/>
        <result column="custom_url" property="customUrl" jdbcType="VARCHAR"/>
        <result column="value_field" property="valueField" jdbcType="VARCHAR"/>
        <result column="display_field" property="displayField" jdbcType="VARCHAR"/>
        <result column="must_page_flag" property="mustPageFlag" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="translation_sql" property="translationSql" jdbcType="VARCHAR"/>
        <result column="public_flag" property="publicFlag" jdbcType="DECIMAL"/>
        <result column="encrypt_field" property="encryptField" jdbcType="VARCHAR"/>
        <result column="decrypt_field" property="decryptField" jdbcType="VARCHAR"/>
        <result column="request_method" property="requestMethod" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>