<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.NameStandardMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.NameStandard">
        <result column="standard_id" property="standardId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="standard_code" property="standardCode" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
        <result column="standard_desc" property="standardDesc" jdbcType="VARCHAR"/>
        <result column="standard_type" property="standardType" jdbcType="VARCHAR"/>
        <result column="standard_rule" property="standardRule" jdbcType="VARCHAR"/>
        <result column="ignore_case_flag" property="ignoreCaseFlag" jdbcType="DECIMAL"/>
        <result column="charge_id" property="chargeId" jdbcType="DECIMAL"/>
        <result column="charge_dept_id" property="chargeDeptId" jdbcType="DECIMAL"/>
        <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR"/>
        <result column="charge_email" property="chargeEmail" jdbcType="VARCHAR"/>
        <result column="latest_checked_status" property="latestCheckedStatus" jdbcType="VARCHAR"/>
        <result column="latest_abnormal_num" property="latestAbnormalNum" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="com.hand.hdsp.quality.api.dto.NameStandardDTO" extends="BaseResultMap">
        <result column="lastUpdateName" property="lastUpdateName"/>
        <result property="chargeName" column="chargeName"/>
        <result property="chargeDeptName" column="chargeDeptName"/>
        <result property="groupCode" column="groupCode"/>
        <result property="groupName" column="groupName"/>
    </resultMap>

    <sql id="BaseProperties">
        ${prefix}.standard_id,
        ${prefix}.group_id,
        ${prefix}.standard_code,
        ${prefix}.standard_name,
        ${prefix}.standard_desc,
        ${prefix}.standard_type,
        ${prefix}.standard_rule,
        ${prefix}.ignore_case_flag,
        ${prefix}.charge_id,
        ${prefix}.charge_dept_id,
        ${prefix}.charge_tel,
        ${prefix}.charge_email,
        ${prefix}.enabled_flag,
        ${prefix}.latest_checked_status,
        ${prefix}.latest_abnormal_num,
        ${prefix}.tenant_id,
        ${prefix}.object_version_number,
        ${prefix}.creation_date,
        ${prefix}.created_by,
        ${prefix}.last_updated_by,
        ${prefix}.last_update_date
    </sql>

    <sql id="BaseWhere">
        <where>
            <if test="standardId != null">
                AND ${prefix}.standard_id = #{standardId}
            </if>

            <if test="groupId != null">
                AND ${prefix}.group_id = #{groupId}
            </if>

            <if test="standardCode != null">
                <bind name="standardCodeLike" value="'%'+standardCode+'%'"/>
                AND ${prefix}.standard_code LIKE #{standardCodeLike}
            </if>

            <if test="standardName != null">
                <bind name="standardNameLike" value="'%'+standardName+'%'"/>
                AND ${prefix}.standard_name LIKE #{standardNameLike}
            </if>

            <if test="standardDesc != null">
                <bind name="standardDescLike" value="'%'+standardDesc+'%'"/>
                AND ${prefix}.standard_desc LIKE #{standardDescLike}
            </if>

            <if test="standardType != null">
                <bind name="standardTypeLike" value="'%'+standardType+'%'"/>
                AND ${prefix}.standard_type LIKE #{standardTypeLike}
            </if>

            <if test="ignoreCaseFlag != null">
                AND ${prefix}.ignore_case_flag = #{ignoreCaseFlag}
            </if>

            <if test="tenantId != null">
                AND ${prefix}.tenant_id = #{tenantId}
            </if>

            <if test="lastUpdateDate != null">
                AND ${prefix}.last_update_date &gt;= #{lastUpdateDate}
            </if>

            <if test="lastUpdatedBy != null">
                AND ${prefix}.last_updated_by = #{lastUpdatedBy}
            </if>

            <if test="enabledFlag != null">
                AND ${prefix}.enabled_flag = #{enabledFlag}
            </if>

            <if test="latestCheckedStatus != null">
                <bind name="latestCheckedStatusLike" value="'%'+latestCheckedStatus+'%'"/>
                AND ${prefix}.latest_checked_status LIKE #{latestCheckedStatusLike}
            </if>

            <if test="latestAbnormalNum != null">
                AND ${prefix}.latest_abnormal_num = #{latestAbnormalNum}
            </if>
        </where>
    </sql>

    <select id="list" resultMap="DtoResultMap">
        SELECT
        iu1.login_name AS lastUpdateName,
        iu2.login_name AS chargeName,
        hu.unit_name AS chargeDeptName,
        xsg.group_code AS groupCode,
        xsg.group_name AS groupName,
        <include refid="BaseProperties">
            <property name="prefix" value="xns"/>
        </include>
        FROM
        xsta_name_standard xns
        LEFT JOIN iam_user iu1 ON (xns.last_updated_by = iu1.id)
        LEFT JOIN iam_user iu2 ON (xns.charge_id = iu2.id)
        LEFT JOIN hpfm_unit hu ON (hu.unit_id=xns.charge_dept_id)
        LEFT JOIN xsta_standard_group xsg ON (xsg.group_id=xns.group_id)
        <include refid="BaseWhere">
            <property name="prefix" value="xns"/>
        </include>
        <if test="lastUpdateName != null">
            <bind name="lastUpdateNameLike" value="'%'+lastUpdateName+'%'"/>
            AND iu.login_name LIKE #{lastUpdateNameLike}
        </if>
        <if test="lastUpdateDateFrom !=null">
            AND xns.last_update_date &gt;= #{lastUpdateDateFrom}
        </if>
        <if test="lastUpdateDateTo != null">
            AND xns.last_update_date &lt;= #{lastUpdateDateTo}
        </if>
    </select>
    <select id="getGroupId" resultType="java.lang.Long">
        SELECT xsg.group_id FROM xsta_standard_group xsg WHERE xsg.group_code=#{groupCode}
    </select>
    <select id="detail" resultMap="DtoResultMap">
        SELECT
        iu1.login_name AS lastUpdateName,
        iu2.login_name AS chargeName,
        hu.unit_name AS chargeDeptName,
        xsg.group_code AS groupCode,
        xsg.group_name AS groupName,
        <include refid="BaseProperties">
            <property name="prefix" value="xns"/>
        </include>
        FROM
        xsta_name_standard xns
        LEFT JOIN iam_user iu1 ON (xns.last_updated_by = iu1.id)
        LEFT JOIN iam_user iu2 ON (xns.charge_id = iu2.id)
        LEFT JOIN hpfm_unit hu ON (hu.unit_id=xns.charge_dept_id)
        LEFT JOIN xsta_standard_group xsg ON (xsg.group_id=xns.group_id)
        WHERE xns.standard_id=#{standardId}
    </select>

</mapper>