<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.NameStandardMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.NameStandard">
        <result column="standard_id" property="standardId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="standard_code" property="standardCode" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
        <result column="standard_desc" property="standardDesc" jdbcType="VARCHAR"/>
        <result column="standard_type" property="standardType" jdbcType="VARCHAR"/>
        <result column="standard_role" property="standardRole" jdbcType="VARCHAR"/>
        <result column="ignore_case_flag" property="ignoreCaseFlag" jdbcType="DECIMAL"/>
        <result column="charge_id" property="chargeId" jdbcType="DECIMAL"/>
        <result column="charge_dept_id" property="chargeDeptId" jdbcType="DECIMAL"/>
        <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR"/>
        <result column="charge_email" property="chargeEmail" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>