<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xdsp.quality.infra.mapper.NameAimExcludeMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.xdsp.quality.domain.entity.NameAimExclude">
        <result column="exclude_id" property="excludeId" jdbcType="DECIMAL"/>
        <result column="aim_id" property="aimId" jdbcType="DECIMAL"/>
        <result column="schema_name" property="schemaName" jdbcType="VARCHAR"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="BaseProperties">
        ${prefix}.exclude_id,
        ${prefix}.aim_id,
        ${prefix}.schema_name,
        ${prefix}.table_name,
        ${prefix}.tenant_id,
        ${prefix}.object_version_number
    </sql>
    <resultMap id="DtoResultMap" type="org.xdsp.quality.api.dto.NameAimExcludeDTO" extends="BaseResultMap">

    </resultMap>

    <select id="getListByAimId" resultMap="DtoResultMap">
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xnae"/>
        </include>
        FROM xsta_name_aim_exclude xnae
        WHERE xnae.aim_id=#{aimId}
    </select>
</mapper>