<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.NameExecHistoryMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.NameExecHistory">
        <result column="history_id" property="historyId" jdbcType="DECIMAL"/>
        <result column="standard_id" property="standardId" jdbcType="DECIMAL"/>
        <result column="checked_num" property="checkedNum" jdbcType="DECIMAL"/>
        <result column="abnormal_num" property="abnormalNum" jdbcType="DECIMAL"/>
        <result column="exec_start_time" property="execStartTime" jdbcType="TIMESTAMP"/>
        <result column="exec_end_time" property="execEndTime" jdbcType="TIMESTAMP"/>
        <result column="exec_rulr" property="execRule" jdbcType="VARCHAR"/>
        <result column="exec_status" property="execStatus" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="DtoResultMap" type="com.hand.hdsp.quality.api.dto.NameExecHistoryDTO" extends="BaseResultMap">
        <collection property="execDetails" ofType="com.hand.hdsp.quality.api.dto.NameExecHisDetailDTO"
                    column="{historyId=history_id}"
                    select="com.hand.hdsp.quality.infra.mapper.NameExecHisDetailMapper.list"/>
    </resultMap>

    <sql id="BaseProperties">
        ${prefix}.history_id,
        ${prefix}.standard_id,
        ${prefix}.checked_num,
        ${prefix}.abnormal_num,
        ${prefix}.exec_start_time,
        ${prefix}.exec_end_time,
        ${prefix}.exec_rule,
        ${prefix}.exec_status,
        ${prefix}.tenant_id,
        ${prefix}.object_version_number
    </sql>
    <select id="getLatestHistory" resultMap="DtoResultMap">
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xneh"/>
        </include>
        FROM xsta_name_exec_history xneh
        LEFT JOIN xsta_name_exec_his_detail xnehd ON (xneh.history_id=xnehd.history_id)
        WHERE xneh.standard_id=#{standardId}
        ORDER BY xneh.history_id DESC LIMIT 1
    </select>

    <select id="getHistoryList" resultMap="DtoResultMap">
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xneh"/>
        </include>
        FROM xsta_name_exec_history xneh
        WHERE xneh.standard_id=#{standardId}
    </select>

    <select id="detail" resultMap="DtoResultMap">
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xneh"/>
        </include>
        FROM xsta_name_exec_history xneh
        WHERE xneh.history_id=#{historyId}
    </select>

</mapper>