<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.NameAimMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.NameAim">
        <result column="aim_id" property="aimId" jdbcType="DECIMAL"/>
        <result column="standard_id" property="standardId" jdbcType="DECIMAL"/>
        <result column="datasource_code" property="datasourceCode" jdbcType="VARCHAR"/>
        <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR"/>
        <result column="exclude_rule" property="excludeRule" jdbcType="VARCHAR"/>
        <result column="exclude_desc" property="excludeDesc" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="DtoResultMap" type="com.hand.hdsp.quality.api.dto.NameAimDTO" extends="BaseResultMap">
        <collection property="nameAimIncludeDTOList"
                    column="{aimId=aim_id}" ofType="com.hand.hdsp.quality.api.dto.NameAimIncludeDTO"
                    select="com.hand.hdsp.quality.infra.mapper.NameAimIncludeMapper.getListByAimId"/>
        <collection property="nameAimExcludeDTOList" column="{aimId=aim_id}"
                    ofType="com.hand.hdsp.quality.api.dto.NameAimExcludeDTO"
                    select="com.hand.hdsp.quality.infra.mapper.NameAimExcludeMapper.getListByAimId"/>
    </resultMap>
    <sql id="BaseProperties">
        ${prefix}.aim_id,
        ${prefix}.standard_id,
        ${prefix}.datasource_code,
        ${prefix}.datasource_type,
        ${prefix}.exclude_rule,
        ${prefix}.exclude_desc,
        ${prefix}.enabled_flag,
        ${prefix}.tenant_id,
        ${prefix}.aim_id,
        ${prefix}.object_version_number
    </sql>
    <select id="list" resultMap="DtoResultMap">
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xna"/>
        </include>
        FROM
        xsta_name_aim xna
        WHERE xna.standard_id=#{standardId}
    </select>
</mapper>