<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.NameExecHistoryMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.NameExecHistory">
        <result column="history_id" property="historyId" jdbcType="DECIMAL"/>
        <result column="standard_id" property="standardId" jdbcType="DECIMAL"/>
        <result column="checked_num" property="checkedNum" jdbcType="DECIMAL"/>
        <result column="abnormal_num" property="abnormalNum" jdbcType="DECIMAL"/>
        <result column="exec_start_time" property="execStartTime" jdbcType="TIMESTAMP"/>
        <result column="exec_end_time" property="execEndTime" jdbcType="TIMESTAMP"/>
        <result column="exec_rule" property="execRule" jdbcType="VARCHAR"/>
        <result column="exec_status" property="execStatus" jdbcType="VARCHAR"/>
        <result column="error_message" property="errorMessage" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="DtoResultMap" type="com.hand.hdsp.quality.api.dto.NameExecHistoryDTO" extends="BaseResultMap">
        <collection property="execDetails" ofType="com.hand.hdsp.quality.api.dto.NameExecHisDetailDTO"
                    column="{historyId=history_id}"
                    select="com.hand.hdsp.quality.infra.mapper.NameExecHisDetailMapper.list"/>
    </resultMap>

    <sql id="BaseProperties">
        ${prefix}.history_id,
        ${prefix}.standard_id,
        ${prefix}.checked_num,
        ${prefix}.abnormal_num,
        ${prefix}.exec_start_time,
        ${prefix}.exec_end_time,
        ${prefix}.exec_rule,
        ${prefix}.exec_status,
        ${prefix}.error_message,
        ${prefix}.tenant_id,
        ${prefix}.object_version_number
    </sql>
    <select id="getLatestHistory" resultMap="DtoResultMap">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xneh"/>
        </include>
        FROM xsta_name_exec_history xneh
        LEFT JOIN xsta_name_exec_his_detail xnehd ON (xneh.history_id=xnehd.history_id)
        WHERE xneh.standard_id=#{standardId}
        <if test='datasourceType == "ORACLE"'>
            and rownum=1
        </if>
        ORDER BY xneh.history_id DESC
        <if test='datasourceType != "ORACLE"'>
            LIMIT 1
        </if>
    </select>

    <select id="getHistoryList" resultMap="DtoResultMap">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xneh"/>
        </include>
        FROM xsta_name_exec_history xneh
        WHERE xneh.standard_id=#{standardId}
        <if test="execStatus != null">
            AND xneh.exec_status = #{execStatus}
        </if>
        <if test="projectId != null">
            and xneh.project_id = #{projectId}
        </if>
        <if test="execStartTime !=null">
            AND xneh.exec_start_time &gt;= #{execStartTime}
        </if>
        <if test="execEndTime !=null">
            AND xneh.exec_end_time &lt;= #{execEndTime}
        </if>
        <if test='datasourceType == "MYSQL"'>
            <if test="startDay != null">
                AND ( datediff ( xneh.exec_start_time , #{startDay} ) = 0 )
            </if>
        </if>
        <if test='datasourceType == "ORACLE"'>
            <if test="startDay != null">
                and ROUND(TO_NUMBER(xneh.exec_start_time - #{startDay}))=0
            </if>
        </if>
        ORDER BY xneh.history_id DESC
    </select>

    <select id="detail" resultMap="DtoResultMap">
        SELECT
        <include refid="BaseProperties">
            <property name="prefix" value="xneh"/>
        </include>
        FROM xsta_name_exec_history xneh
        WHERE xneh.history_id=#{historyId}
    </select>

    <select id="getReport" resultType="com.hand.hdsp.quality.infra.vo.NameStandardHisReportVO">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        <choose>
            <when test='datasourceType == "ORACLE"'>
                SELECT to_char(creation_date,'yyyy-MM-dd') as "date", AVG(abnormal_num) as averageAbnormalNum
                FROM xsta_name_exec_history xneh
                WHERE xneh.exec_status='SUCCESS'AND xneh.standard_id=#{standardId}
                GROUP BY to_char(creation_date,'yyyy-MM-dd')
            </when>
            <otherwise>
                SELECT DATE_FORMAT(creation_date,'%Y-%m-%d') as date, AVG(abnormal_num) as averageAbnormalNum
                FROM xsta_name_exec_history xneh
                WHERE xneh.exec_status='SUCCESS'AND xneh.standard_id=#{standardId}
                GROUP BY DATE_FORMAT(creation_date,'%Y-%m-%d')
            </otherwise>
        </choose>
    </select>

</mapper>