<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.PlanBaseAssignMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.PlanBaseAssign">
        <result column="base_assign_id" property="baseAssignId" jdbcType="DECIMAL"/>
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>
    <delete id="deleteAssignByPlan">
        DELETE
        FROM
            xqua_plan_base_assign
        WHERE
            plan_id= #{planId}
            or plan_base_id in
            <foreach collection="planBaseIds" item="planBaseId" separator="," open="(" close=")">
                #{planBaseId}
            </foreach>
    </delete>
</mapper>