<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.PlanWarningLevelMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.PlanWarningLevel">
        <result column="level_id" property="levelId" jdbcType="DECIMAL"/>
        <result column="source_id" property="sourceId" jdbcType="DECIMAL"/>
        <result column="source_type" property="sourceType" jdbcType="VARCHAR"/>
        <result column="warning_level" property="warningLevel" jdbcType="VARCHAR"/>
        <result column="start_value" property="startValue" jdbcType="DECIMAL"/>
        <result column="end_value" property="endValue" jdbcType="DECIMAL"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="judgeOverlap" resultType="integer">
        SELECT 1
        FROM DUAL
        WHERE
        (
            SELECT COUNT(*)
            FROM xqua_plan_warning_level
            WHERE source_id = #{sourceId}
            and source_type = #{sourceType}
            <if test="levelId != null">
                and level_id != #{levelId}
            </if>
        )
        =
        (
            SELECT COUNT(*)
            FROM xqua_plan_warning_level
            WHERE source_id = #{sourceId}
            and source_type = #{sourceType}
            AND (#{endValue} &lt;= start_value OR end_value &lt;= #{startValue})
            AND #{startValue} &lt;= #{endValue}
            <if test="levelId != null">
                and level_id != #{levelId}
            </if>
        )
    </select>
</mapper>
