<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.RootMatchMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.RootMatch">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="batch_number" property="batchNumber" jdbcType="VARCHAR"/>
        <result column="field_comment" property="fieldComment" jdbcType="VARCHAR"/>
        <result column="matching_status" property="matchingStatus" jdbcType="VARCHAR"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="field_description" property="fieldDescription" jdbcType="VARCHAR"/>
        <result column="field_type" property="fieldType" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="field_id" property="fieldId" javaType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Columns">
        ${prefix}.id,
        ${prefix}.batch_number,
        ${prefix}.field_name,
        ${prefix}.field_type,
        ${prefix}.field_comment,
        ${prefix}.field_description,
        ${prefix}.matching_status,
        ${prefix}.source,
        ${prefix}.field_id,
        ${prefix}.project_id,
        ${prefix}.tenant_id,
        ${prefix}.object_version_number,
        ${prefix}.creation_date,
        ${prefix}.created_by,
        ${prefix}.last_updated_by,
        ${prefix}.last_update_date
    </sql>
    <select id="findAllMatch" resultType="com.hand.hdsp.quality.api.dto.RootMatchDTO">
        select
        <include refid="Base_Columns">
            <property name="prefix" value="xrm"/>
        </include>
        from xsta_root_match xrm
        <where>
            <if test="fieldDescription != null and fieldDescription != ''">
                <bind name="fieldDescriptionLike" value="'%' + fieldDescription + '%'"/>
                AND xrm.field_description like #{fieldDescriptionLike}
            </if>
            <if test="matchingStatus != null and matchingStatus != ''">
                AND xrm.matching_status = #{matchingStatus}
            </if>
            <if test="fieldName != null and fieldName != ''">
                <bind name="fieldNameLike" value="'%' + fieldName + '%'"/>
                AND xrm.field_name = #{fieldNameLike}
            </if>
            <if test="source != null and source != ''">
                AND xrm.source = #{source}
            </if>
            <if test="fieldType != null and fieldType != ''">
                AND xrm.field_type = #{fieldType}
            </if>
            <if test="fieldDescription != null and fieldDescription != ''">
                <bind name="fieldDescriptionLike" value="'%' + fieldDescription + '%'"/>
                AND xrm.field_description like #{fieldDescriptionLike}
            </if>
        </where>
    </select>
</mapper>