<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.RuleLineMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.RuleLine">
        <result column="rule_line_id" property="ruleLineId" jdbcType="DECIMAL"/>
        <result column="rule_id" property="ruleId" jdbcType="DECIMAL"/>
        <result column="check_way" property="checkWay" jdbcType="VARCHAR"/>
        <result column="check_item" property="checkItem" jdbcType="VARCHAR"/>
        <result column="count_type" property="countType" jdbcType="VARCHAR"/>
        <result column="compare_way" property="compareWay" jdbcType="VARCHAR"/>
        <result column="regular_expression" property="regularExpression" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumn">
        ${std}.rule_line_id,
        ${std}.rule_id,
        ${std}.check_way,
        ${std}.count_type,
        ${std}.check_item,
        ${std}.compare_way,
        ${std}.regular_expression
    </sql>

</mapper>
