<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.RuleMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.Rule">
        <result column="rule_id" property="ruleId" jdbcType="DECIMAL"/>
        <result column="rule_model" property="ruleModel" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR"/>
        <result column="check_type" property="checkType" jdbcType="VARCHAR"/>
        <result column="rule_type" property="ruleType" jdbcType="VARCHAR"/>
        <result column="exception_block" property="exceptionBlock" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumn">
        ${std}.rule_id,
        ${std}.rule_model,
        ${std}.group_id,
        ${std}.rule_code,
        ${std}.rule_name,
        ${std}.rule_desc,
        ${std}.check_type,
        ${std}.rule_type,
        ${std}.exception_block,
        ${std}.weight,
        ${std}.enabled_flag
    </sql>
    <select id="list" resultType="com.hand.hdsp.quality.api.dto.RuleDTO">
        select
        rule_id
        from xqua_rule
        <where>
            rule_code in
            <foreach item="ruleCode" collection="ruleCode" separator="," open="(" close=")" index="">
                #{ruleCode, jdbcType=VARCHAR}
            </foreach>
            and rule_model = #{ruleModel}
            and rule_type in('FIELD_NUMERICAL','FIELD_CHAR','FIELD_DATE')
            and tenant_id in(0,#{tenantId})
            and enabled_flag = 1
        </where>
    </select>
    <select id="listAll" resultType="com.hand.hdsp.quality.api.dto.RuleDTO">
        select
        rule_id,
        rule_model,
        group_id,
        rule_code,
        rule_name,
        rule_desc,
        check_type,
        rule_type,
        exception_block,
        weight,
        enabled_flag,
        tenant_id,
        object_version_number
        from xqua_rule
        <where>
            rule_model = #{ruleModel}
            <if test="ruleName != null">
                <bind name="ruleName" value="'%' + ruleName + '%'"/>
                and rule_name like #{ruleName}
            </if>
            and rule_type in('FIELD_NUMERICAL','FIELD_CHAR','FIELD_DATE')
            <if test='ruleModel == "STANDARD"'>
                and tenant_id in(0,#{tenantId})
            </if>
            <if test='ruleModel != "STANDARD"'>
                and tenant_id = #{tenantId}
            </if>
            and enabled_flag = 1
        </where>
    </select>
    <select id="list2" resultType="com.hand.hdsp.quality.api.dto.RuleDTO">
        select
        rule_id,
        rule_model,
        group_id,
        rule_code,
        rule_name,
        rule_desc,
        check_type,
        rule_type,
        exception_block,
        weight,
        enabled_flag,
        tenant_id,
        object_version_number
        from xqua_rule
        <where>
            <if test="ruleId != null">
                and rule_id = #{ruleId}
            </if>
            <if test="ruleModel != null">
                and rule_model = #{ruleModel}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId}
            </if>
            <if test="ruleCode != null">
                and rule_code = #{ruleCode}
            </if>
            <if test="ruleName != null">
                and rule_name = #{ruleName}
            </if>
            <if test="ruleDesc != null">
                and rule_desc = #{ruleDesc}
            </if>
            <if test="checkType != null">
                and check_type = #{checkType}
            </if>
            <if test="ruleType != null">
                and rule_type = #{ruleType}
            </if>
            <if test="exceptionBlock != null">
                and exception_block = #{exceptionBlock}
            </if>
            <if test="weight != null">
                and weight = #{weight}
            </if>
            <if test="enabledFlag != null">
                and enabled_flag = #{enabledFlag}
            </if>
            and tenant_id in(0,#{tenantId})
        </where>
    </select>

</mapper>
