<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.RuleWarningLevelMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.RuleWarningLevel">
        <result column="level_id" property="levelId" jdbcType="DECIMAL"/>
        <result column="rule_line_id" property="ruleLineId" jdbcType="DECIMAL"/>
        <result column="warning_level" property="warningLevel" jdbcType="VARCHAR"/>
        <result column="start_value" property="startValue" jdbcType="DECIMAL"/>
        <result column="end_value" property="endValue" jdbcType="DECIMAL"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumn">
        ${std}.level_id,
        ${std}.rule_line_id,
        ${std}.warning_level,
        ${std}.start_value,
        ${std}.end_value,
        ${std}.unit
    </sql>

    <select id="judgeOverlap" resultType="integer">
        SELECT 1
        FROM DUAL
        WHERE
        (
            SELECT COUNT(*)
            FROM xqua_rule_warning_level
            WHERE rule_line_id = #{ruleLineId}
            <if test="levelId != null">
                and level_id != #{levelId}
            </if>
        )
        =
        (
            SELECT COUNT(*)
            FROM xqua_rule_warning_level
            WHERE rule_line_id = #{ruleLineId}
            AND (#{endValue} &lt;= start_value OR end_value &lt;= #{startValue})
            AND #{startValue} &lt;= #{endValue}
            <if test="levelId != null">
                and level_id != #{levelId}
            </if>
        )
    </select>
</mapper>
