<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.StandardDocMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.StandardDoc">
        <result column="standard_doc_id" property="docId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="standard_code" property="standardCode" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
        <result column="standard_desc" property="standardDesc" jdbcType="VARCHAR"/>
        <result column="standard_doc_name" property="docName" jdbcType="VARCHAR"/>
        <result column="standard_doc_path" property="docPath" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="baseColumn">
        ${sd}.doc_id,
        ${sd}.group_id,
        ${sd}.standard_code,
        ${sd}.standard_name,
        ${sd}.standard_desc,
        ${sd}.doc_name,
        ${sd}.doc_path,
        ${sd}.tenant_id,
        ${sd}.charge_dept_id,
        ${sd}.charge_id,
        ${sd}.object_version_number,
        ${sd}.creation_date,
        ${sd}.created_by,
        ${sd}.last_updated_by,
        ${sd}.last_update_date
    </sql>
    <update id="updateDesc">
        update
        xsta_standard_doc
        set standard_desc = null
        where doc_id = #{standardDocDTO.docId}
        and tenant_id = #{standardDocDTO.tenantId}
    </update>

    <select id="list" resultType="com.hand.hdsp.quality.api.dto.StandardDocDTO">
        select
        xsg.group_name,
        xsg.group_code,
        xsg.group_desc,
        iu1.login_name createdByName,
        iu3.login_name lastUpdatedByName,
--         iu2.login_name chargeName,
--         iu2.phone chargeTel,
--         iu2.email chargeEmail,
        he.name chargeName,
        he.mobile chargeTel,
        he.email chargeEmail,
        hu.unit_name chargeDeptName,
        <include refid="baseColumn">
            <property name="sd" value="sd"/>
        </include>
        from xsta_standard_doc sd
        left join xsta_standard_group xsg on xsg.group_id=sd.group_id
        left join iam_user iu1 on iu1.id=sd.created_by
        left join iam_user iu3 on iu3.id=sd.last_updated_by
--         left join iam_user iu2 on sd.charge_id=iu2.id
        left join hpfm_unit hu on hu.unit_id=sd.charge_dept_id
        left join hpfm_employee he on he.employee_id=sd.charge_id
        <where>
            <if test="standardDocDTO.docId!=null">
                sd.doc_id=#{standardDocDTO.docId}
            </if>
            <if test="standardDocDTO.groupArrays!=null and standardDocDTO.groupArrays.length>0">
                and sd.group_id in
                <foreach collection="standardDocDTO.groupArrays" item="arr" index="no" open="("     separator="," close=")">
                    #{arr}
                </foreach>
            </if>
            <if test="standardDocDTO.tenantId!=null">
                and sd.tenant_id=#{standardDocDTO.tenantId}
            </if>
            <if test="standardDocDTO.projectId !=null">
                and sd.project_id =#{standardDocDTO.projectId}
            </if>
            <if test="standardDocDTO.standardCode!=null">
                <bind name="standardCode" value="'%'+ standardDocDTO.standardCode +'%'"/>
                and sd.standard_code like #{standardCode}
            </if>
            <if test="standardDocDTO.standardName!=null">
                <bind name="standardName" value="'%'+ standardDocDTO.standardName +'%'"/>
                and sd.standard_name like #{standardName}
            </if>
            <if test="standardDocDTO.standardDesc!=null">
                <bind name="standardDesc" value="'%'+ standardDocDTO.standardDesc +'%'"/>
                and sd.standard_desc like #{standardDesc}
            </if>
            <if test="standardDocDTO.docName!=null">
                <bind name="docName" value="'%'+ standardDocDTO.docName +'%'"/>
                and sd.doc_name like #{docName}
            </if>
        </where>
        order by sd.doc_id desc
    </select>

    <select id="selectUserNameById" resultType="java.lang.String">
        select login_name
        from iam_user
        where id=#{userId}
    </select>

    <select id="selectIdByChargeDeptName" resultType="java.lang.Long">
        SELECT
            unit_id
        FROM
            hpfm_unit
        WHERE
            unit_name=#{chargeDeptName}
          and tenant_id =#{tenantId}
    </select>

    <select id="selectIdByChargeName" resultType="java.lang.Long">
        SELECT
            id
        FROM
            iam_user
        WHERE
            login_name=#{chargeName}
          and organization_id in (#{tenantId},0)
    </select>
</mapper>