<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.StreamingPlanBaseMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.StreamingPlanBase">
        <result column="plan_base_id" property="planBaseId" jdbcType="DECIMAL"/>
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="connector_info" property="connectorInfo" jdbcType="VARCHAR"/>
        <result column="topic_info" property="topicInfo" jdbcType="VARCHAR"/>
        <result column="plan_desc" property="planDesc" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" resultType="com.hand.hdsp.quality.api.dto.StreamingPlanBaseDTO">
        select
        xspb.connector_info,
        xspb.topic_info,
        xspb.plan_desc,
        (select count(*)
        from xqua_streaming_plan_rule xspr
        where
        xspr.plan_base_id = xspr.plan_base_id
        ) as delay_num,
        (select count(*)
        from xqua_streaming_plan_rule xspr
        where
        xspr.plan_base_id = xspr.plan_base_id
        ) as cutoff_num,
        xspb.plan_base_id,
        xspb.plan_id,
        xspb.tenant_id
        from
        xqua_streaming_plan_base xspb
        where
        xspb.tenant_id = #{tenantId}
        <if test="planId != null">
            and xspb.plan_id = #{planId}
        </if>
        <if test="connectorInfo != null">
            <bind name="connectorInfo" value="'%' + connectorInfo + '%'"/>
            and xspb.connector_info like #{connectorInfo}
        </if>
        <if test="topicInfo != null">
            <bind name="topicInfo" value="'%' + topicInfo + '%'"/>
            and xspb.topic_info like #{topicInfo}
        </if>
        <if test="planDesc != null">
            <bind name="planDesc" value="'%' + planDesc + '%'"/>
            and xspb.plan_desc like #{planDesc}
        </if>
    </select>
</mapper>
