<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.StreamingPlanMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.StreamingPlan">
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="plan_code" property="planCode" jdbcType="VARCHAR"/>
        <result column="plan_name" property="planName" jdbcType="VARCHAR"/>
        <result column="plan_desc" property="planDesc" jdbcType="VARCHAR"/>
        <result column="warning_code" property="warningCode" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMapDTO" type="com.hand.hdsp.quality.api.dto.StreamingPlanDTO" extends="BaseResultMap">
        <result column="result_id" property="streamingResult.resultId" jdbcType="DECIMAL"/>
        <result column="plan_status" property="streamingResult.planStatus" jdbcType="VARCHAR"/>
        <result column="mark" property="streamingResult.mark" jdbcType="DECIMAL"/>
        <result column="start_date" property="streamingResult.startDate" jdbcType="TIMESTAMP"/>
        <result column="end_date" property="streamingResult.endDate" jdbcType="TIMESTAMP"/>
        <result column="next_count_date" property="streamingResult.nextCountDate" jdbcType="TIMESTAMP"/>
        <result column="parent_group_id" property="planGroup.parentGroupId" jdbcType="DECIMAL"/>
        <result column="group_name" property="planGroup.groupName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMapHis" type="com.hand.hdsp.quality.api.dto.StreamingPlanDTO" extends="BaseResultMapDTO">
        <result column="rule_count" property="streamingResultBase.ruleCount" jdbcType="DECIMAL"/>
        <result column="exception_rule_count" property="streamingResultBase.exceptionRuleCount" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getGroupByPlanName" resultMap="BaseResultMapDTO">
        select
        <include refid="com.hand.hdsp.quality.infra.mapper.StreamingResultMapper.StreamingPlan_And_Result">
            <property name="xsp" value="xsp"/>
            <property name="xsr" value="xsr"/>
        </include>,
        xpg.group_id,
        xpg.parent_group_id,
        xpg.group_name
        FROM xqua_plan_group xpg
        LEFT JOIN xqua_streaming_plan xsp
        on xpg.group_id=xsp.group_id
        LEFT JOIN xqua_streaming_result xsr
        on xsp.plan_id=xsr.plan_id
        <where>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                xsp.plan_name like #{planName}
            </if>
            <if test="tenantId != null">
                and xsp.tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <select id="getHistoryByPlanName" resultMap="BaseResultMapHis">
        select
        <include refid="com.hand.hdsp.quality.infra.mapper.StreamingResultMapper.StreamingPlan_And_Result">
            <property name="xsp" value="xsp"/>
            <property name="xsr" value="xsr"/>
        </include>,
        xpg.group_id,
        xpg.parent_group_id,
        xpg.group_name,
        xsrb.rule_count,
        xsrb.exception_rule_count
        FROM xqua_plan_group xpg
        LEFT JOIN xqua_streaming_plan xsp
        on xpg.group_id=xsp.group_id
        LEFT JOIN xqua_streaming_result xsr
        on xsp.plan_id=xsr.plan_id
        LEFT JOIN xqua_streaming_result_base xsrb
        on xsr.result_id=xsrb.result_id
        <where>
            xsr.plan_status != 'NOTASSESS'
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xsp.plan_name like #{planName}
            </if>
            <if test="tenantId != null">
                and xsp.tenant_id = #{tenantId}
            </if>
        </where>
    </select>
</mapper>
