<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.StreamingResultMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.StreamingResult">
        <result column="result_id" property="resultId" jdbcType="DECIMAL"/>
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="mark" property="mark" jdbcType="DECIMAL"/>
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP"/>
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="plan_status" property="planStatus" jdbcType="VARCHAR"/>
        <result column="next_count_date" property="nextCountDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="StreamingPlan_And_Result">
        ${xsp}.plan_id,
        ${xsp}.plan_name,
        ${xsr}.result_id,
        ${xsr}.plan_status,
        ${xsr}.mark,
        ${xsr}.start_date,
        ${xsr}.end_date,
        ${xsr}.next_count_date
    </sql>

    <select id="listByGroup" resultType="com.hand.hdsp.quality.api.dto.StreamingResultDTO">
        select * from
        (
        select
        xsp.plan_id,
        xsp.plan_name,
        xsr.result_id,
        xsr.plan_status,
        xsr.mark,
        xsr.start_date,
        xsr.end_date,
        xsr.next_count_date
        from xqua_streaming_result xsr
        LEFT JOIN xqua_streaming_plan xsp
        on xsr.plan_id=xsp.plan_id
        LEFT JOIN xqua_plan_group xpg
        on xsp.group_id=xpg.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xsr.tenant_id = #{tenantId}
            </if>
            <if test="projectId != null">
                and xsr.project_id = #{projectId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xsp.plan_name like #{planName}
            </if>
            <if test="planStatus != null">
                and xsr.plan_status = #{planStatus}
            </if>
        </where>
        union
        select
        xsp.plan_id,
        xsp.plan_name,
        null result_id,
        '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}' plan_status,
        null mark,
        xsp.creation_date start_date,
        null end_date,
        null next_count_date
        from xqua_batch_plan xsp
        LEFT JOIN xqua_plan_group xpg
        on xpg.group_id=xsp.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xpg.tenant_id = #{tenantId}
            </if>
            <if test="projectId != null">
                and xsp.project_id = #{projectId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xsp.plan_name like #{planName}
            </if>
        </where>
        ) a
        where not exists (select 1 from (
        select
        xsp.plan_id,
        xsp.plan_name,
        xsr.result_id,
        xsr.plan_status,
        xsr.mark,
        xsr.start_date,
        xsr.end_date,
        xsr.next_count_date
        from xqua_streaming_result xsr
        LEFT JOIN xqua_streaming_plan xsp
        on xsr.plan_id=xsp.plan_id
        LEFT JOIN xqua_plan_group xpg
        on xsp.group_id=xpg.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xsr.tenant_id = #{tenantId}
            </if>
            <if test="projectId != null">
                and xsr.project_id = #{projectId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xsp.plan_name like #{planName}
            </if>
            <if test="planStatus != null">
                and xsr.plan_status = #{planStatus}
            </if>
        </where>
        union
        select
        xsp.plan_id,
        xsp.plan_name,
        null result_id,
        '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}' plan_status,
        null mark,
        xsp.creation_date start_date,
        null end_date,
        null next_count_date
        from xqua_batch_plan xsp
        LEFT JOIN xqua_plan_group xpg
        on xpg.group_id=xsp.group_id
        <where>
            <if test="groupId != null and groupId != 0">
                xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xpg.tenant_id = #{tenantId}
            </if>
            <if test="projectId != null">
                and xsp.project_id = #{projectId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xsp.plan_name like #{planName}
            </if>
        </where>
        ) b where a.start_date &lt; b.start_date and a.plan_id=b.plan_id)
    </select>

    <select id="showResultHead" resultType="com.hand.hdsp.quality.api.dto.StreamingResultDTO">
        select
        <include refid="StreamingPlan_And_Result">
            <property name="xsp" value="xsp"/>
            <property name="xsr" value="xsr"/>
        </include>
        from xqua_streaming_plan xsp
        LEFT JOIN xqua_streaming_result xsr
        on xsp.plan_id=xsr.plan_id
        <where>
            <if test="tenantId != null">
                xsr.tenant_id = #{tenantId}
            </if>
            <if test="projectId != null">
                and xsp.project_id = #{projectId}
            </if>
            <if test="planId != null">
                and xsr.plan_id = #{planId}
            </if>
            <if test="resultId != null">
                and xsr.result_id = #{resultId}
            </if>
        </where>
    </select>

    <select id="listHistory" resultType="com.hand.hdsp.quality.api.dto.StreamingResultDTO">
        select
        <include refid="StreamingPlan_And_Result">
            <property name="xsp" value="xsp"/>
            <property name="xsr" value="xsr"/>
        </include>,
        xsrb.rule_count,
        xsrb.exception_rule_count
        from xqua_plan_group xpg
        left join xqua_streaming_plan xsp
        on xpg.group_id=xsp.group_id
        left join xqua_streaming_result xsr
        on xsp.plan_id=xsr.plan_id
        left join xqua_streaming_result_base xsrb
        on xsr.result_id=xsrb.result_id
        <where>
            xsr.plan_status != '${@com.hand.hdsp.quality.infra.constant.PlanStatus@NOTACCESS}'
            <if test="groupId != null">
                and xpg.group_id = #{groupId}
            </if>
            <if test="tenantId != null">
                and xsr.tenant_id = #{tenantId}
            </if>
            <if test="projectId !=null">
                and xsr.project_id =#{projectId}
            </if>
            <if test="planName != null">
                <bind name="planName" value="'%' + planName + '%'"/>
                and xsp.plan_name like #{planName}
            </if>
            <if test="planStatus != null">
                and xsr.plan_status = #{planStatus}
            </if>
        </where>
    </select>

    <select id="listResultMap" resultType="java.util.Map">
        select ROUND((case when avg(xsr.mark) is null then 0 else avg(xsr.mark) end),1) mark,
        (case when sum(xsrb.rule_count) is null then 0 else sum(xsrb.rule_count) end ) ruleCount,
        (case when sum(xsrb.exception_rule_count) is null then 0 else sum(xsrb.exception_rule_count) end ) exceptionRuleCount
        from xqua_streaming_result xsr
        left join xqua_streaming_result_base xsrb
        on xsr.result_id=xsrb.result_id
        <where>
            <if test="tenantId != null">
                xsr.tenant_id = #{tenantId}
            </if>
            <if test="projectId != null">
                and xsr.project_id = #{projectId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xsr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xsr.end_date &lt;=  #{endDate}
            </if>
        </where>
    </select>

    <select id="listMarkTrend" resultType="com.hand.hdsp.quality.infra.vo.MarkTrendVO">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        <choose>
            <when test='datasourceType == "ORACLE"'>
                select to_char(xsr.end_date, 'yyyy-MM-dd') date,
                (case when avg(xsr.mark) is null then 0 else avg(xsr.mark) end ) mark
                from xqua_streaming_result xsr
                <where>
                    <if test="tenantId != null">
                        xsr.tenant_id = #{tenantId}
                    </if>
                    <if test="projectId != null">
                        and xsr.project_id = #{projectId}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        and xsr.end_date &gt;=  #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        and xsr.end_date &lt;=  #{endDate}
                    </if>
                </where>
                group by to_char(xsr.end_date, 'yyyy-MM-dd')
                order by to_char(xsr.end_date, 'yyyy-MM-dd') asc
            </when>
            <otherwise>
                select date_format(xsr.end_date, '%Y-%m-%d') date,IFNULL(avg(xsr.mark),0) mark
                from xqua_streaming_result xsr
                <where>
                    <if test="tenantId != null">
                        xsr.tenant_id = #{tenantId}
                    </if>
                    <if test="projectId != null">
                        and xsr.project_id = #{projectId}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        and xsr.end_date &gt;=  #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        and xsr.end_date &lt;=  #{endDate}
                    </if>
                </where>
                group by date_format(xsr.end_date, '%Y-%m-%d')
                order by date_format(xsr.end_date, '%Y-%m-%d') asc
            </otherwise>
        </choose>
    </select>

    <select id="listWarningLevel" resultType="com.hand.hdsp.quality.infra.vo.WarningLevelVO">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        <choose>
            <when test='datasourceType == "ORACLE"'>
                select to_char(xsr.end_date, 'yyyy-MM-dd') date,
                xsrr.warning_level warningLevel,
                count(xsrr.warning_level) levelCount
                from xqua_streaming_result xsr
                INNER JOIN xqua_streaming_result_base xsrb
                on xsr.result_id=xsrb.result_id
                INNER JOIN xqua_streaming_result_rule xsrr
                on xsrb.result_base_id=xsrr.result_base_id
                <where>
                    <if test="tenantId != null">
                        xsr.tenant_id = #{tenantId}
                    </if>
                    <if test="projectId != null">
                        and xsr.project_id = #{projectId}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        and xsr.end_date &gt;=  #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        and xsr.end_date &lt;=  #{endDate}
                    </if>
                </where>
                group by to_char(xsr.end_date, 'yyyy-MM-dd'),xsrr.warning_level
                order by to_char(xsr.end_date, 'yyyy-MM-dd') asc
            </when>
            <otherwise>
                select date_format(xsr.end_date, '%Y-%m-%d') date,
                xsrr.warning_level warningLevel,
                count(xsrr.warning_level) levelCount
                from xqua_streaming_result xsr
                INNER JOIN xqua_streaming_result_base xsrb
                on xsr.result_id=xsrb.result_id
                INNER JOIN xqua_streaming_result_rule xsrr
                on xsrb.result_base_id=xsrr.result_base_id
                <where>
                    <if test="tenantId != null">
                        xsr.tenant_id = #{tenantId}
                    </if>
                    <if test="projectId != null">
                        and xsr.project_id = #{projectId}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        and xsr.end_date &gt;=  #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        and xsr.end_date &lt;=  #{endDate}
                    </if>
                </where>
                group by date_format(xsr.end_date, '%Y-%m-%d'),xsrr.warning_level
                order by date_format(xsr.end_date, '%Y-%m-%d') asc
            </otherwise>
        </choose>
    </select>

    <select id="listDelayTopic" resultType="java.util.Map">
        select xsrr.topic_info topicInfo,
        count(xsrr.topic_info) sumCount
        from xqua_streaming_result xsr
        LEFT JOIN xqua_streaming_result_base xsrb
        on xsr.result_id=xsrb.result_id
        LEFT JOIN xqua_streaming_result_rule xsrr
        on xsrb.result_base_id=xsrr.result_base_id
        <where>
            <if test="tenantId != null">
                xsr.tenant_id = #{tenantId}
            </if>
            <if test="projectId != null">
                and xsr.project_id = #{projectId}
            </if>
            <if test="startDate != null and startDate != ''">
                and xsr.end_date &gt;=  #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and xsr.end_date &lt;=  #{endDate}
            </if>
            <if test="topicInfo != null">
                <bind name="topicInfo" value="'%' + topicInfo + '%'"/>
                xsrr.topic_info like #{topicInfo}
            </if>
        </where>
        GROUP BY xsrr.topic_info
    </select>

    <select id="listRuleError" resultType="com.hand.hdsp.quality.infra.vo.RuleExceptionVO">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        <choose>
            <when test='datasourceType == "ORACLE"'>
                select to_char(xsr.end_date, 'yyyy-MM-dd') date,
                xsrr.rule_type ruleType,
                (case when SUM(xsrb.exception_rule_count) is null then 0 else SUM(xsrb.exception_rule_count) end ) exceptionRuleCount
                from xqua_streaming_result xsr
                INNER JOIN xqua_streaming_result_base xsrb
                on xsr.result_id=xsrb.result_id
                INNER JOIN xqua_streaming_result_rule xsrr
                on xsrb.result_base_id=xsrr.result_base_id
                <where>
                    <if test="tenantId != null">
                        xsr.tenant_id = #{tenantId}
                    </if>
                    <if test="projectId != null">
                        and xsr.project_id = #{projectId}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        and xsr.end_date &gt;=  #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        and xsr.end_date &lt;=  #{endDate}
                    </if>
                </where>
                group by to_char(xsr.end_date, 'yyyy-MM-dd'),xsrr.rule_type
                order by to_char(xsr.end_date, 'yyyy-MM-dd') asc
            </when>
            <otherwise>
                select date_format(xsr.end_date, '%Y-%m-%d') date,
                xsrr.rule_type ruleType,
                IFNULL(SUM(xsrb.exception_rule_count),0) exceptionRuleCount
                from xqua_streaming_result xsr
                INNER JOIN xqua_streaming_result_base xsrb
                on xsr.result_id=xsrb.result_id
                INNER JOIN xqua_streaming_result_rule xsrr
                on xsrb.result_base_id=xsrr.result_base_id
                <where>
                    <if test="tenantId != null">
                        xsr.tenant_id = #{tenantId}
                    </if>
                    <if test="projectId != null">
                        and xsr.project_id = #{projectId}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        and xsr.end_date &gt;=  #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        and xsr.end_date &lt;=  #{endDate}
                    </if>
                </where>
                group by date_format(xsr.end_date, '%Y-%m-%d'),xsrr.rule_type
                order by date_format(xsr.end_date, '%Y-%m-%d') asc
            </otherwise>
        </choose>
    </select>
</mapper>
