<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hdsp.quality.infra.mapper.SuggestMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.hdsp.quality.domain.entity.Suggest">
        <result column="suggest_id" property="suggestId" jdbcType="DECIMAL"/>
        <result column="rule_id" property="ruleId" jdbcType="DECIMAL"/>
        <result column="problem_id" property="problemId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="suggest_order" property="suggestOrder" jdbcType="DECIMAL"/>
        <result column="suggest_content" property="suggestContent" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectRuleId" resultType="com.hand.hdsp.quality.api.dto.SuggestDTO">
        SELECT
	        xcr.rule_id
        FROM
	        xqua_check_rule xcr
        where 1=1
        <if test="suggestDTO.ruleType!=null">
            and xcr.rule_type=#{suggestDTO.ruleType}
        </if>
        <if test="suggestDTO.checkWay!=null">
            and xcr.check_way=#{suggestDTO.checkWay}
        </if>
        <if test="suggestDTO.checkItem!=null">
            and xcr.check_item=#{suggestDTO.checkItem}
        </if>
        <if test="suggestDTO.columnType!=null">
            and xcr.column_type=#{suggestDTO.columnType}
        </if>
    </select>
    <select id="list" resultType="com.hand.hdsp.quality.api.dto.SuggestDTO">
        <bind name="datasourceType" value="@com.hand.hdsp.core.util.SpringDatasourceHelper@getDatasourceType()"/>
        select
            xs.suggest_id,
            xs.rule_id,
            xs.suggest_order,
            xs.suggest_content,
            xs.tenant_id,
            xs.problem_id,
            xs.last_update_date,
            xs.object_version_number,
            xcr.rule_type,
            xcr.check_way,
            xcr.check_item,
            xcr.column_type,
            iu.real_name
        from xqua_suggest xs
        left join xqua_check_rule xcr on xs.rule_id = xcr.rule_id
        left join xqua_problem xp on xp.problem_id = xs.problem_id
        left join hzero_platform.iam_user iu on iu.id = xs.last_updated_by
        where 1=1 and xs.tenant_id = #{suggestDTO.tenantId}
        <if test="suggestDTO.suggestId!=null">
            and xs.suggest_id=#{suggestDTO.suggestId}
        </if>
        <if test="suggestDTO.problemId!=null">
            and xs.problem_id=#{suggestDTO.problemId}
        </if>
        <if test="suggestDTO.ruleType!=null">
            and xcr.rule_type=#{suggestDTO.ruleType}
        </if>
        <if test="suggestDTO.checkWay!=null">
            and xcr.check_way=#{suggestDTO.checkWay}
        </if>
        <if test="suggestDTO.checkItem!=null">
            and xcr.check_item=#{suggestDTO.checkItem}
        </if>
        <if test="suggestDTO.types!=null">
            and xcr.column_type in
            <foreach collection="suggestDTO.types" item="type" index="index" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="suggestDTO.suggestOrder!=null">
            and xs.suggest_order=#{suggestDTO.suggestOrder}
        </if>
        <if test="suggestDTO.suggestContent!=null">
            <bind name="suggestContent" value="'%'+ suggestDTO.suggestContent +'%'"/>
            and xs.suggest_content like #{suggestContent}
        </if>
        <if test="suggestDTO.realName!=null">
            <bind name="realName" value="'%'+ suggestDTO.realName +'%'"/>
            and iu.real_name like #{realName}
        </if>
        <if test='datasourceType == "MYSQL"'>
            <if test="suggestDTO.startDate!=null">
                and xs.last_update_date >= DATE_FORMAT(#{suggestDTO.startDate},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="suggestDTO.endDate!=null">
                and xs.last_update_date &lt;= DATE_FORMAT(#{suggestDTO.endDate},'%Y-%m-%d %H:%i:%s')
            </if>
        </if>
        <if test='datasourceType == "ORACLE"'>
            <if test="suggestDTO.startDate!=null">
                and xs.last_update_date >= to_date(#{suggestDTO.startDate},'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="suggestDTO.endDate!=null">
                and xs.last_update_date &lt;= to_date(#{suggestDTO.endDate},'yyyy-MM-dd hh24:mi:ss')
            </if>
        </if>
    </select>
    <select id="getDatasourceType" resultType="java.lang.String">
        select
        xbpb.datasource_type
        from xqua_batch_result_base xbrb
        left join xqua_batch_plan_base xbpb on xbrb.plan_base_id = xbpb.plan_base_id
        where xbrb.result_base_id = #{resultBaseId}
    </select>
</mapper>